@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
#toggle {
  font-size: 20px;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  border: 2px solid #ffa500;
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: .3s;
  padding: .2em 0;
  overflow: hidden; }
  #toggle .bar {
    background-color: #f4f4f4;
    width: 60%;
    height: .08em;
    position: relative;
    transition: .3s; }
    #toggle .bar.bar-1::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #f4f4f4;
      transition: .3s; }
    #toggle .bar::before {
      transform: translateY(0.25em); }

#header {
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 8vh;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5; }
  #header .brand {
    border: 1px solid #ffa500;
    padding: .2em .5em;
    border-radius: 5px;
    display: grid;
    place-items: center;
    text-transform: uppercase; }
    #header .brand a {
      color: #f4f4f4;
      text-decoration: none; }
      #header .brand a span {
        color: #ffa500; }
  #header .navigation {
    position: relative;
    text-transform: uppercase; }
  @media (max-width: 768px) {
    #header {
      height: 7vh;
      padding: 1vh 1rem; }
      #header .brand a {
        font-size: 1.2em; }
      #header .logo {
        width: 30vw;
        height: 100%;
        overflow: hidden;
        border-radius: 5px; }
        #header .logo figure {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          overflow: hidden; }
          #header .logo figure img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 5px; }
      #header .navigation {
        border: none; }
        #header .navigation nav {
          display: none; }
        #header .navigation aside {
          position: fixed;
          top: 5vh;
          right: -100vw;
          width: 100%;
          height: 100vh;
          background-color: #000;
          padding: 0;
          transition: .5s;
          z-index: -1;
          overflow: hidden; }
          #header .navigation aside ul {
            border: 2px solid #ffa500;
            border-radius: 3px;
            position: absolute;
            padding: 2em .2em;
            top: 10vh;
            right: 30vw;
            width: 65vw;
            height: auto; }
            #header .navigation aside ul li {
              margin: 0 0 2rem;
              list-style: none;
              padding: 1em .5em;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              transition: 1s;
              transform: translateX(3em);
              opacity: 0; }
              #header .navigation aside ul li a {
                color: #eee;
                text-decoration: none;
                margin-right: auto;
                width: 100%;
                transition: .5s; }
              #header .navigation aside ul li i {
                color: #ffa500;
                width: 20%;
                opacity: .7; }
              #header .navigation aside ul li:hover {
                background-color: #000; }
          #header .navigation aside.active {
            right: -20vw; }
            #header .navigation aside.active ul li {
              transform: translateX(0);
              opacity: 1; }
            #header .navigation aside.active ul :nth-child(1) {
              transition-delay: .3s; }
            #header .navigation aside.active ul :nth-child(2) {
              transition-delay: .4s; }
            #header .navigation aside.active ul :nth-child(3) {
              transition-delay: .5s; }
            #header .navigation aside.active ul :nth-child(4) {
              transition-delay: .6s; } }
  @media (min-width: 768px) {
    #header {
      height: 10vh;
      padding: .5em 5vw;
      overflow: hidden; }
      #header .brand a {
        font-size: 1.5em; }
      #header .logo {
        display: none;
        border-radius: 5px;
        width: auto;
        margin: 0 auto;
        height: 100%; }
        #header .logo figure {
          height: 100%;
          width: 100%;
          overflow: hidden; }
          #header .logo figure img {
            width: 100%;
            height: 100%;
            object-fit: contain; }
      #header .navigation {
        display: grid;
        place-items: center;
        padding: .5em; }
        #header .navigation #toggle {
          display: none; }
        #header .navigation aside {
          display: none; }
        #header .navigation nav {
          display: block; }
          #header .navigation nav ul {
            display: flex;
            align-items: center; }
            #header .navigation nav ul li {
              padding-left: 1em;
              list-style: none; }
              #header .navigation nav ul li a {
                color: #fff;
                text-decoration: none;
                transition: .3s;
                padding: .5rem;
                border-radius: 5px; }
                #header .navigation nav ul li a:hover {
                  color: #f4f4f4;
                  background-color: #f8650c; } }

#hero {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #fff; }
  #hero .slogan p {
    text-transform: capitalize; }
  @media (max-width: 768px) {
    #hero {
      display: grid;
      place-items: center; }
      #hero .logo {
        width: 50vw;
        height: 50vh; }
        #hero .logo figure {
          overflow: hidden; }
          #hero .logo figure img {
            width: 100%; }
      #hero .slogan {
        text-align: center;
        margin: 0 auto;
        background-color: #000; }
        #hero .slogan p {
          background-color: #f8650c;
          padding: .5em; } }
  @media (min-width: 768px) {
    #hero .slogan {
      text-align: center; }
      #hero .slogan p {
        background: #000;
        padding: 1em;
        color: #f4f4f4;
        border-radius: 5px; } }

#about .about-article {
  border: 1px solid #f8650c;
  background: #f4f4f4;
  border-radius: 5px;
  margin: 5vh 5vw;
  text-transform: none;
  line-height: 1.6;
  padding: .3em;
  overflow: hidden;
  text-align: left; }
  #about .about-article p {
    margin-bottom: 2rem; }
    #about .about-article p span {
      font-size: 2rem;
      padding-right: .1em;
      color: #fff;
      text-shadow: 2px 2px 2px #f8650c; }

@media (max-width: 768px) {
  #about .about-article {
    font-size: 1rem; } }

@media (min-width: 768px) {
  #about .about-article {
    font-size: 1.2rem; } }

#footer {
  background: #000;
  min-height: 100vh;
  padding: 5vh 1rem 1rem; }
  #footer h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 2vh;
    font-size: 1.5rem;
    text-transform: capitalize; }
  #footer .footer-contact {
    border: 2px solid #ffa500;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vh 1rem; }
    #footer .footer-contact .contact-item {
      background: #161616;
      border-radius: 5px;
      margin: 1rem auto;
      padding: 1rem 2rem;
      height: 70%;
      width: 100%; }
      #footer .footer-contact .contact-item header {
        color: #ffa500;
        font-size: 1.3rem;
        margin-bottom: .5em;
        text-align: center;
        text-transform: capitalize; }
      #footer .footer-contact .contact-item .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis; }
        #footer .footer-contact .contact-item .contact-info p {
          color: #f4f4f4; }
        #footer .footer-contact .contact-item .contact-info a {
          color: #f4f4f4;
          text-overflow: ellipsis;
          text-decoration: none;
          line-height: 1.7; }
        #footer .footer-contact .contact-item .contact-info .contact-btn {
          margin: 1em auto;
          padding: .1em 1rem;
          border-radius: 10px;
          transition: .2s;
          background-image: linear-gradient(0deg, #f8650c, #ffa500);
          box-shadow: inset 2px 2px 2px #fffa, inset -2px -2px 2px #000a; }
          #footer .footer-contact .contact-item .contact-info .contact-btn:hover {
            transform: scale(0.98); }
          #footer .footer-contact .contact-item .contact-info .contact-btn:active {
            transform: scale(0.95); }
  #footer .footer-copyright {
    margin: 5vh auto .5rem;
    text-align: center;
    text-transform: capitalize; }
    #footer .footer-copyright p {
      color: #f4f4f4;
      line-height: 1.6; }
      #footer .footer-copyright p span {
        color: #ffa500; }
      #footer .footer-copyright p#date {
        color: #f4f4f4; }
  @media (min-width: 768px) {
    #footer {
      padding: 5vh 5vw 0; }
      #footer h2 {
        font-size: 2rem; }
      #footer .footer-contact {
        display: flex;
        flex-direction: row;
        margin: 10vh auto 5vh; }
        #footer .footer-contact .contact-item {
          width: 30%; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 8vh; }
  @media (max-width: 768px) {
    * {
      scroll-padding-top: 7vh; } }

#container {
  max-width: 100%; }
  #container #main {
    margin-top: 5vh;
    padding: 5vh 0;
    min-height: 100vh; }
    @media (min-width: 768px) {
      #container #main {
        margin-top: 10vh;
        padding: 5vh 0; } }
    #container #main::after {
      position: fixed;
      content: '';
      top: 5vh;
      left: 0;
      width: 100%;
      min-height: 100vh;
      background-image: linear-gradient(40deg, #ffa500, #000);
      opacity: 0;
      z-index: -1;
      transition: .2s; }
    #container #main.active::after {
      z-index: 1;
      opacity: .7; }
    #container #main section {
      min-height: 100vh; }
      #container #main section .section-title {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.5rem; }
