@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
#toggle {
  font-size: 20px;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  border: 2px solid #ffa500;
  outline: 2px solid #f8650c;
  outline-offset: -2px;
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: .3s;
  padding: .2em 0;
  overflow: hidden; }
  #toggle .bar {
    background-color: #fff;
    width: 60%;
    height: .1em;
    position: relative;
    transition: .3s; }
    #toggle .bar::before, #toggle .bar::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: .2s;
      background-color: inherit; }
    #toggle .bar::before {
      transform: translateY(-0.25em); }
    #toggle .bar::after {
      transform: translateY(0.25em); }
  #toggle.active {
    outline: 2px solid #fff;
    outline-offset: -.4em; }
    #toggle.active .bar {
      opacity: 0; }

#header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 5vh;
  max-height: 8vh;
  background-color: #000;
  display: flex;
  transition: 1s;
  justify-content: space-between;
  align-items: center;
  z-index: 5; }
  #header.scroll {
    background-color: #f8650c; }
  #header .logo {
    transition: .2s; }
    #header .logo:hover {
      transform: scale(0.98); }
  #header .brand {
    border: 1px solid #ffa500;
    padding: .2em .5em;
    border-radius: 5px;
    display: grid;
    place-items: center;
    text-transform: uppercase; }
    #header .brand a {
      color: #f4f4f4;
      text-decoration: none; }
      #header .brand a span {
        color: #ffa500; }
  #header .navigation {
    text-transform: uppercase; }
  @media (max-width: 768px) {
    #header {
      height: 7vh;
      padding: 1vh 1rem; }
      #header .brand a {
        font-size: 1.2em; }
      #header .logo {
        width: 30vw;
        height: 100%;
        overflow: hidden;
        border-radius: 5px; }
        #header .logo figure {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          overflow: hidden; }
          #header .logo figure img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 5px; }
      #header .navigation {
        border: none; }
        #header .navigation nav {
          display: none; }
        #header .navigation aside {
          position: fixed;
          top: 5vh;
          right: -100vw;
          width: 100%;
          height: 100vh;
          background-color: #000;
          padding: 0;
          transition: .5s;
          z-index: -1;
          overflow: hidden; }
          #header .navigation aside ul {
            border-radius: 3px;
            position: absolute;
            padding: 2em .2em;
            top: 5vh;
            right: 25vw;
            width: 70vw;
            height: 100%;
            overflow-y: auto; }
            #header .navigation aside ul li {
              margin: 0 0 2rem;
              list-style: none;
              border: 1px solid #ffa500;
              border-radius: 5px;
              display: flex;
              justify-content: flex-start;
              justify-content: center;
              align-items: center;
              transition: 1s;
              transform: translateX(3em);
              opacity: 0; }
              #header .navigation aside ul li.aside-dropdown {
                margin: 0 0 2rem;
                padding: 0 1rem 0 0;
                position: relative;
                display: flex;
                flex-direction: column; }
                #header .navigation aside ul li.aside-dropdown button {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  float: left;
                  color: #eee;
                  text-decoration: none;
                  margin-right: auto;
                  width: 100%;
                  padding: 1em 0;
                  transition: .2s;
                  border: none;
                  background-color: transparent;
                  font-size: 1rem;
                  text-transform: uppercase; }
                  #header .navigation aside ul li.aside-dropdown button a {
                    color: #fff000; }
                  #header .navigation aside ul li.aside-dropdown button i {
                    position: relative; }
                #header .navigation aside ul li.aside-dropdown .aside-dropdown-content {
                  position: absolute;
                  position: relative;
                  top: 0;
                  width: 100%;
                  height: 0;
                  overflow: hidden;
                  background-color: #000;
                  display: flex;
                  flex-direction: column;
                  transition: .5s; }
                  #header .navigation aside ul li.aside-dropdown .aside-dropdown-content a {
                    margin-left: auto; }
                    #header .navigation aside ul li.aside-dropdown .aside-dropdown-content a:hover {
                      color: #f4f4f4;
                      transition: .2s; }
                #header .navigation aside ul li.aside-dropdown:hover .aside-dropdown-content {
                  height: 20vh; }
              #header .navigation aside ul li a {
                color: #eee;
                text-decoration: none;
                padding: 1em .5em;
                transition: .2s; }
              #header .navigation aside ul li i {
                color: #ffa500;
                opacity: .7;
                position: absolute;
                left: .5rem; }
          #header .navigation aside.active {
            right: -20vw; }
            #header .navigation aside.active ul li {
              transform: translateX(0);
              opacity: 1; }
            #header .navigation aside.active ul :nth-child(1) {
              transition-delay: .3s; }
            #header .navigation aside.active ul :nth-child(2) {
              transition-delay: .4s; }
            #header .navigation aside.active ul :nth-child(3) {
              transition-delay: .5s; }
            #header .navigation aside.active ul :nth-child(4) {
              transition-delay: .6s; } }
  @media (min-width: 768px) {
    #header {
      height: 10vh;
      padding: .5em 5vw; }
      #header .brand a {
        font-size: 1.5em; }
      #header .logo {
        border-radius: 5px;
        width: auto;
        height: 100%; }
        #header .logo figure {
          height: 100%;
          width: 100%;
          overflow: hidden; }
          #header .logo figure img {
            width: 100%;
            height: 100%;
            object-fit: contain; }
      #header .navigation {
        display: grid;
        place-items: center;
        padding: .5em; }
        #header .navigation #toggle {
          display: none; }
        #header .navigation aside {
          display: none; }
        #header .navigation nav {
          display: block; }
          #header .navigation nav ul {
            display: flex;
            align-items: center; }
            #header .navigation nav ul li {
              padding-left: 1em;
              list-style: none;
              float: left;
              position: relative; }
              #header .navigation nav ul li a {
                color: #fff;
                text-decoration: none;
                transition: .3s;
                padding: .5rem;
                border-radius: 5px; }
                #header .navigation nav ul li a:hover {
                  color: #f4f4f4;
                  background-color: #f8650c;
                  box-shadow: inset 2px 2px 2px #fffa, inset -2px -2px 2px #000a; }
            #header .navigation nav ul .dropdown button {
              display: flex;
              align-items: center;
              float: left;
              color: #fff;
              text-decoration: none;
              transition: .3s;
              padding: .5rem;
              border-radius: 5px;
              background-color: transparent;
              outline: none;
              border: none;
              font-size: 1rem;
              text-transform: uppercase;
              cursor: pointer; }
              #header .navigation nav ul .dropdown button i {
                margin-left: .5rem; }
            #header .navigation nav ul .dropdown .dropdown-content {
              display: block;
              height: 0;
              overflow: hidden;
              position: absolute;
              top: 5vh;
              left: 0%;
              width: auto;
              background-color: #f8650c;
              transition: .2s;
              border-radius: 5px; }
              #header .navigation nav ul .dropdown .dropdown-content a {
                color: #000;
                display: block;
                border-radius: 0; }
                #header .navigation nav ul .dropdown .dropdown-content a:hover {
                  color: #f4f4f4;
                  box-shadow: none;
                  background-color: #000; }
            #header .navigation nav ul .dropdown:hover i {
              transition: .3s;
              transform: scale(0.9);
              color: #000; }
            #header .navigation nav ul .dropdown:hover .dropdown-content {
              height: 25vh;
              border: 2px solid #000; } }

#hero {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #fff; }
  #hero figure {
    width: 100%;
    overflow: hidden;
    margin: 0 auto; }
    #hero figure img {
      width: 100%; }
  #hero .slogan {
    border-radius: 5px;
    border: none;
    outline: none; }
    #hero .slogan p {
      text-transform: capitalize;
      padding: 1rem;
      background: #fff;
      color: #f4f4f4;
      border-radius: 5px;
      border: none;
      outline: none;
      position: relative;
      isolation: isolate; }
      #hero .slogan p::before, #hero .slogan p::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        z-index: -1;
        transition: 1s; }
      #hero .slogan p::before {
        background: #f8650c;
        box-shadow: inset 2px 2px 2px #ddda, inset -2px -2px 2px #000a, 3px 3px 3px rgba(0, 0, 0, 0.281); }
      #hero .slogan p::after {
        background: #ffa500;
        opacity: 0;
        box-shadow: inset 2px 2px 2px #000a, inset -2px -2px 2px #ddda, 1px 1px 3px rgba(0, 0, 0, 0.281); }
      #hero .slogan p:hover::before {
        opacity: 0; }
      #hero .slogan p:hover::after {
        opacity: 1; }
  @media (max-width: 768px) {
    #hero {
      display: grid;
      place-items: center; }
      #hero .logo {
        width: 50vw;
        height: 50vh; }
        #hero .logo figure {
          overflow: hidden; }
          #hero .logo figure img {
            width: 100%; }
      #hero .slogan {
        text-align: center;
        margin: 0 auto;
        background-color: #000; }
        #hero .slogan p {
          background-color: #f8650c;
          padding: .5em; } }
  @media (min-width: 768px) {
    #hero figure {
      width: 50%; }
    #hero .slogan {
      text-align: center; } }

#about .about-article {
  background: #fff;
  border-radius: 5px;
  margin: 5vh 5vw;
  text-transform: none;
  line-height: 1.6;
  padding: .3em;
  overflow: hidden;
  text-align: left; }
  #about .about-article p {
    margin-bottom: 2rem; }
    #about .about-article p span {
      font-size: 2rem;
      padding-right: .1em;
      background: #000;
      float: left;
      margin-right: .1em;
      border-radius: 2px;
      box-shadow: 2px 3px 0 #4855634b;
      color: #fff;
      text-shadow: 2px 2px 0px #f8650c; }

@media (max-width: 768px) {
  #about .about-article {
    font-size: 1rem; } }

@media (min-width: 768px) {
  #about .about-article {
    font-size: 1.2rem; } }

#services .section-description {
  margin: 0 5vw;
  line-height: 1.6; }
  #services .section-description h3 {
    color: #f8650c;
    margin-bottom: 1rem; }
    #services .section-description h3[data-scroll] {
      transform: scale(1);
      opacity: .7;
      letter-spacing: .2em; }
    #services .section-description h3[data-scroll="in"] {
      letter-spacing: normal;
      opacity: 1; }

#services .service-container {
  margin: 5vh auto; }
  #services .service-container .service-item {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
    margin: 5vh auto;
    border-radius: 5px;
    width: 100%;
    overflow: hidden; }
    #services .service-container .service-item .service-core {
      flex-basis: 50%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #services .service-container .service-item .service-core h3 {
        text-align: center;
        margin: 5vh auto 1rem;
        text-transform: capitalize;
        font-size: 1.5rem;
        color: #000; }
      #services .service-container .service-item .service-core i {
        margin-bottom: 1.5rem;
        padding: 0;
        font-size: 4em;
        transition: .3s;
        animation: service 2s infinite; }
        #services .service-container .service-item .service-core i.fa-paint-roller, #services .service-container .service-item .service-core i.fa-plug {
          animation: rollUp 2s infinite; }

@keyframes rollUp {
  50% {
    transform: translateY(1rem);
    color: #000a; } }

@keyframes service {
  50% {
    transform: rotate(20deg);
    color: #000a; } }
    #services .service-container .service-item:hover h3 {
      border-bottom: 2px solid orange; }
    #services .service-container .service-item .service-type {
      width: 100%;
      padding: 0 1rem; }
      #services .service-container .service-item .service-type ul {
        background-color: #f4f4f4;
        background-color: #f8650c;
        color: #f4f4f4;
        padding: 5vh .5rem;
        font-weight: 500;
        width: 100%;
        margin: 1rem auto;
        border-radius: 5px; }
        #services .service-container .service-item .service-type ul li {
          margin: .5rem 0;
          padding: .5rem 0;
          text-transform: capitalize;
          transform: translateX(4rem);
          transition: 1.5s;
          opacity: 0;
          cursor: pointer; }
          #services .service-container .service-item .service-type ul li::marker {
            color: #f8650c; }
    #services .service-container .service-item[data-scroll] {
      transform: scale(1);
      opacity: 1; }
    #services .service-container .service-item[data-scroll="in"] h3 {
      transition: 1.3s;
      color: #f8650c; }
    #services .service-container .service-item[data-scroll="in"] .service-type ul li {
      transform: translateX(0);
      opacity: 1; }
      #services .service-container .service-item[data-scroll="in"] .service-type ul li:nth-child(1) {
        transition-delay: .5s; }
      #services .service-container .service-item[data-scroll="in"] .service-type ul li:nth-child(2) {
        transition-delay: .6s; }
      #services .service-container .service-item[data-scroll="in"] .service-type ul li:nth-child(3) {
        transition-delay: .7s; }
      #services .service-container .service-item[data-scroll="in"] .service-type ul li:nth-child(4) {
        transition-delay: .8s; }

@media (min-width: 768px) {
  #services .service-container {
    margin: 5vh 5vw; }
    #services .service-container .service-item {
      display: flex;
      flex-direction: row;
      height: 50vh;
      height: auto;
      overflow: hidden;
      position: relative; }
      #services .service-container .service-item:nth-child(even) {
        flex-direction: row-reverse; }
        #services .service-container .service-item:nth-child(even) .service-type {
          text-align: right; }
          #services .service-container .service-item:nth-child(even) .service-type ul li {
            list-style-position: inside; }
            #services .service-container .service-item:nth-child(even) .service-type ul li::marker {
              color: #f4f4f4; }
      #services .service-container .service-item .service-core {
        flex-basis: 50%;
        overflow: hidden;
        height: 100%;
        width: 100%; }
        #services .service-container .service-item .service-core figure {
          margin: 0 auto;
          height: 100%;
          width: 80%;
          overflow: hidden; }
          #services .service-container .service-item .service-core figure figcaption {
            text-align: center;
            margin: 1rem auto; }
          #services .service-container .service-item .service-core figure img {
            width: 100%;
            height: 70%;
            object-fit: contain; }
      #services .service-container .service-item .service-type {
        width: 50%;
        text-align: left; } }

#projects {
  padding: 5vh 1rem; }
  #projects .projects-article {
    margin: 10vh 0; }
    #projects .projects-article h4 {
      text-align: center;
      margin-bottom: 1rem;
      text-transform: capitalize;
      font-size: 1.5rem;
      color: #f8650c; }
      #projects .projects-article h4[data-scroll] {
        transform: scale(1);
        letter-spacing: .3em;
        opacity: .5; }
      #projects .projects-article h4[data-scroll="in"] {
        letter-spacing: 0;
        transition: 2s;
        opacity: 1; }
    #projects .projects-article p {
      line-height: 1.6;
      font-weight: 500; }
  #projects .gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem; }
    #projects .gallery .project-item figure {
      width: 100%;
      overflow: hidden;
      border-radius: 5px;
      position: relative; }
      #projects .gallery .project-item figure img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        cursor: pointer;
        transition: .5s; }
      #projects .gallery .project-item figure::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 5px 5px 3px #fffa, inset -5px -5px 3px #000a;
        opacity: .4;
        transition: .5s; }
      #projects .gallery .project-item figure:hover img {
        transform: scale(1.15); }
      #projects .gallery .project-item figure:hover::after {
        opacity: .8; }
  @media (min-width: 768px) {
    #projects {
      padding: 5vh 5vw; }
      #projects .gallery {
        grid-template-columns: 1fr 1fr 1fr; }
        #projects .gallery .project-item figure {
          width: 100%;
          height: 100%;
          overflow: hidden; }
          #projects .gallery .project-item figure img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center; } }

#references {
  padding: 10vh 1rem; }
  #references .references {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: .5rem;
    height: auto;
    padding: 1rem 0;
    width: 100%; }
    #references .references .reference {
      background-color: #f4f4f4;
      border-radius: 5px;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      text-align: left;
      padding: 1rem 0 1rem 1rem; }
      #references .references .reference i {
        margin-right: .5rem;
        color: #ffa500;
        opacity: .7; }
      #references .references .reference h3 {
        text-transform: capitalize;
        margin: .5rem auto;
        color: #f8650c; }
      #references .references .reference .ref-name {
        margin: .5rem auto;
        padding: .5rem 0; }
  @media (min-width: 768px) {
    #references {
      padding: 5vh 5vw; }
      #references .references {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1rem 0; }
        #references .references .reference {
          padding: .5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          #references .references .reference p {
            width: 70%;
            display: flex; }
            #references .references .reference p i {
              flex-basis: 10%; } }

#form {
  min-height: 100vh;
  padding: 10vh 1rem; }
  #form .contact-title {
    margin-bottom: 5vh;
    color: #f8650c;
    position: relative; }
    #form .contact-title::after {
      position: absolute;
      content: '';
      bottom: -.2em;
      left: 0;
      width: 0;
      height: .3rem;
      background-color: #f8650c;
      border-radius: 5px;
      transition: 2s; }
    #form .contact-title[data-scroll] {
      transform: scale(1);
      opacity: 1; }
    #form .contact-title[data-scroll="in"] {
      transition: 2s; }
      #form .contact-title[data-scroll="in"]::after {
        width: 3em; }
        @media (min-width: 768px) {
          #form .contact-title[data-scroll="in"]::after {
            width: 3em; } }
  #form .input-div {
    margin: 1rem 0;
    padding: 1rem 0;
    display: flex;
    flex-direction: column; }
    #form .input-div label {
      margin-bottom: 1rem;
      text-transform: uppercase;
      transition: .2s;
      font-weight: 500; }
    #form .input-div input, #form .input-div textarea {
      padding: 1rem .5rem;
      border-radius: 5px;
      outline: 2px solid #f8650c;
      border: none;
      background: #fff;
      color: #000;
      transition: 1s;
      font-size: 1rem; }
      #form .input-div input:invalid, #form .input-div textarea:invalid {
        border: none;
        outline: none;
        background: #f4f4f4;
        background: #ffa500;
        color: #000; }
      #form .input-div input:focus, #form .input-div textarea:focus {
        outline: 2px dashed #000; }
    #form .input-div:hover label {
      color: #f8650c;
      transform: translateY(1rem) translateX(0.5rem); }
  #form button {
    padding: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    color: #f4f4f4;
    border: none;
    outline: none;
    position: relative;
    isolation: isolate;
    transition: .2s;
    letter-spacing: .15em; }
    #form button::before, #form button::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      border-radius: 15px;
      transition: .5s ease;
      z-index: -1; }
    #form button::before {
      background: linear-gradient(0deg, #f8650c, #ffa500);
      box-shadow: inset 2px 2px 2px #fffa, inset -2px -2px 2px #000a, 4px 4px 3px rgba(0, 0, 0, 0.212); }
    #form button::after {
      background: linear-gradient(0deg, #ffa500, #f8650c);
      opacity: 0;
      box-shadow: inset 2px 2px 2px #fffa, inset -2px -2px 2px #000a, 2px 2px 3px rgba(0, 0, 0, 0.412); }
    #form button:hover, #form button:focus {
      letter-spacing: 0;
      transform: scale(0.98); }
      #form button:hover::before, #form button:focus::before {
        opacity: 0; }
      #form button:hover::after, #form button:focus::after {
        opacity: 1; }
  @media (min-width: 768px) {
    #form {
      padding: 10vh 10vw; } }

#footer {
  background: #fff;
  min-height: 100vh; }
  #footer .footer-contact {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vh 0;
    margin: 0 1rem; }
    @media (max-width: 768px) {
      #footer .footer-contact figure {
        display: none; } }
    #footer .footer-contact .contact-item {
      border: 1px solid #ffa500;
      border-radius: 5px;
      margin: 1rem auto;
      padding: 1rem;
      padding: 1rem .5rem;
      height: 70%;
      width: 100%;
      transition: .3s; }
      #footer .footer-contact .contact-item header {
        color: #f8650c;
        font-size: 1.3rem;
        margin-bottom: .5em;
        text-align: center;
        text-transform: capitalize; }
        #footer .footer-contact .contact-item header i {
          margin-right: .5rem; }
      #footer .footer-contact .contact-item .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis; }
        #footer .footer-contact .contact-item .contact-info .address {
          display: flex;
          flex-direction: column; }
        #footer .footer-contact .contact-item .contact-info button {
          display: flex;
          align-items: center;
          width: 50%;
          margin: 1rem auto;
          transition: .5s;
          border: none;
          background: #fff;
          text-transform: capitalize; }
          #footer .footer-contact .contact-item .contact-info button a {
            color: #f4f4f4;
            text-overflow: ellipsis;
            text-decoration: none;
            background-image: linear-gradient(0deg, #f8650c, #ffa500);
            padding: .5em 1rem;
            border-radius: 10px;
            transition: .5s;
            box-shadow: inset 2px 2px 2px #fffa, inset -2px -2px 2px #000a, 2px 2px 4px rgba(0, 0, 0, 0.308); }
          #footer .footer-contact .contact-item .contact-info button i {
            color: #f8650c;
            opacity: .5;
            transition: .5s; }
          #footer .footer-contact .contact-item .contact-info button[data-scroll] {
            transform: scale(1);
            opacity: 1; }
          #footer .footer-contact .contact-item .contact-info button[data-scroll="in"] a {
            transform: translateX(20%); }
          #footer .footer-contact .contact-item .contact-info button[data-scroll="in"] i {
            opacity: 1;
            transform: scale(2.5); }
        #footer .footer-contact .contact-item .contact-info p {
          color: #000;
          text-overflow: ellipsis; }
      #footer .footer-contact .contact-item:hover {
        transform: scale(1.02); }
  #footer .footer-copyright {
    width: 100%;
    margin: 5vh 0 0;
    padding: 5vh 0;
    text-align: center;
    text-transform: capitalize;
    background: #f8650c; }
    #footer .footer-copyright p {
      color: #f4f4f4;
      line-height: 1.6;
      font-size: .9rem; }
      #footer .footer-copyright p a {
        color: #000;
        text-decoration: none; }
      #footer .footer-copyright p#date {
        color: #f4f4f4; }
  @media (min-width: 768px) {
    #footer h2 {
      text-align: center;
      margin: 0 auto; }
    #footer .footer-contact {
      border: none;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
      margin: 10vh 5vw 5vh; }
      #footer .footer-contact figure {
        position: absolute;
        left: 5vw;
        bottom: 20vh;
        height: 50%;
        width: auto;
        overflow: hidden;
        z-index: 1; }
        #footer .footer-contact figure img {
          width: 100%;
          height: 100%;
          object-fit: contain; }
      #footer .footer-contact .contact-item {
        width: 40%;
        margin: 0 1rem .5rem;
        z-index: 2; }
        #footer .footer-contact .contact-item button a {
          font-size: 1rem; }
        #footer .footer-contact .contact-item:hover button a {
          transform: translateX(50%); }
        #footer .footer-contact .contact-item:hover button i {
          opacity: 1;
          transform: scale(2.5); }
    #footer .footer-copyright p {
      font-size: 1rem; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 8vh; }
  @media (max-width: 768px) {
    * {
      scroll-padding-top: 7vh; } }

#container {
  max-width: 100%; }
  #container .section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 5vh 0; }
    #container .section-title h2 {
      position: relative; }
      #container .section-title h2::after {
        position: absolute;
        content: '';
        bottom: -.3rem;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: .2rem;
        background: #f8650c;
        border-radius: 5px;
        transition: 2s; }
      #container .section-title h2[data-scroll] {
        transform: scale(1);
        opacity: 1; }
      #container .section-title h2[data-scroll="in"]::after {
        width: 25%; }
        @media (min-width: 768px) {
          #container .section-title h2[data-scroll="in"]::after {
            width: 10vw; } }
  #container #main {
    margin-top: 5vh;
    padding: 5vh 0;
    min-height: 100vh; }
    @media (min-width: 768px) {
      #container #main {
        margin-top: 10vh;
        padding: 5vh 0; } }
    #container #main::after {
      position: fixed;
      content: '';
      top: 5vh;
      left: 0;
      width: 100%;
      min-height: 100vh;
      background-image: linear-gradient(40deg, #ffa500, #000);
      opacity: 0;
      z-index: -1;
      transition: .2s; }
    #container #main.active::after {
      z-index: 1;
      opacity: .7; }
    #container #main .parallax {
      height: 95vh;
      background-color: #fff;
      position: relative; }
      #container #main .parallax figure {
        width: 100%;
        height: 100%; }
        #container #main .parallax figure img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      #container #main .parallax::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(40deg, #f8650c, #000);
        opacity: .2; }
      @media (min-width: 768px) {
        #container #main .parallax {
          height: 95vh;
          background-color: #fff;
          background-image: url(../img/orich-project.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          background-size: contain;
          background-attachment: fixed;
          margin: 5vh 5vw; }
          #container #main .parallax figure {
            display: none; }
          #container #main .parallax::after {
            display: none; } }
    #container #main section {
      min-height: 100vh; }
  #container #top-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background: #000;
    display: grid;
    place-items: center;
    border-radius: 5px;
    padding: .2rem;
    z-index: 30;
    transition: .3s;
    box-shadow: inset 2px 2px 2px #fffa, inset -2px -2px 2px #000a, 2px 2px 2px rgba(0, 0, 0, 0.24); }
    @media (min-width: 768px) {
      #container #top-btn {
        right: 5vw;
        bottom: 5vh; } }
    #container #top-btn i {
      color: #f8650c;
      transition: .3s; }
    #container #top-btn:hover {
      transform: scale(1.1); }
      #container #top-btn:hover i {
        color: #ffa500; }

[data-scroll] {
  transition: 1s ease;
  transform: scale(0.5); }

[data-scroll="in"] {
  opacity: 1;
  transform: scale(1); }

[data-scroll="out"] {
  opacity: 0; }
