
// $font-content: 'Prompt', sans-serif;
// $primary-color: #fff;
// $secondary-color: #000;
$brand: #f8650c;
$brand-dark: hsl(23, 94%, 51%);
$brand-light: #ffa500;
$brand-lightest-border: hsla(39, 100%, 50%, .3);
$brand-light-border: hsla(23, 94%, 51%, .4);

$brand-overlay: linear-gradient(90deg, $brand, hsl(33, 100%, 50%), $brand);
$brand-overlay-dark: linear-gradient(45deg, $brand, $brand-light);
$brand-overlay-darker: linear-gradient(-30deg, $brand, $brand-light, $brand);
$brand-btn: linear-gradient(0deg, $brand-dark, $brand-light);
$brand-btn-hover: linear-gradient(0deg, $brand-light, $brand-dark);
$bg-main: #ffffff;
$bg-main-light: #f4f4f4;
$bg-second: #000000;


$font-clamp-xsm: clamp(.98rem, 1vw, 1rem);
$font-clamp-sm: clamp(1rem, 2vw, 1.125rem);
$font-clamp-md: clamp(1.25rem, 2.25vw, 1.25rem);
$font-clamp-lg: clamp(1.5rem, 4vw, 2rem);
$font-clamp-xlg: clamp(2rem, 5vw, 2.25rem);

$brand-border: linear-gradient(90deg, $brand-dark, $brand-light, $brand-dark);

$text-main: #000;
$text-main-light: #333;
$text-second: #ffffff;
$text-second-light: hsl(0, 0%, 86%);
$text-light: #fff;
$text-light-trans: hsla(0, 0%, 100%, 0.7);

$border-radius-xsm: .25rem;
$border-radius-sm: .5rem;
$border-radius-md: 1rem;
$border-radius-lg: 1.5rem;

$marker: #f4f4f4;

$nav-bg: #161616;
$nav-links: #eee;

$box-shadow-sm: inset 2px 2px 2px rgba(255, 255, 255, 0.250),
                inset -2px -2px 2px rgba(0, 0, 0, 0.250),
                4px 4px 5px rgba(0, 0, 0, 0.150);

$box-shadow-sm-hover: inset 2px 2px 2px rgba(0, 0, 0, 0.250),
                    inset -2px -2px 2px rgba(255, 255, 255, 0.152),
                    1px 2px 2px rgba(0,0,0, .300);