.container {
    position: relative;

    #about {
        padding: 5vh 0;

        .about-article {
            // border: 1px solid $brand;
            background: $bg-main;
            border-radius: 5px;
            margin: 1rem 1rem;
            font-size: 1rem;
            text-transform: none;
            line-height: 1.6;
            // padding: .3em;
            // height: 40vh;
            overflow: hidden;
            text-align: left;

            p {
                margin-bottom: 1.5rem;

                span {
                    font-size: 2rem;
                    padding-right: 0.1em;
                    background: #000;
                    float: left;
                    margin-right: 0.1em;
                    border-radius: 2px;
                    box-shadow: 2px 3px 0 #4855634b;
                    color: #fff;
                    text-shadow: 2px 2px 0px #f8650c;
                
                }

                // DATA SCROLL
                &[data-scroll] {
                    transform: scale(1) translateY(10vh);
                }
                &[data-scroll="in"] {
                    transform: scale(1) translateY(0);
                }
            }
        }
        .vision-mission {
            // border: 1px solid $brand;
            margin: 5vh 0;
            padding: 1rem 0;
            .vision {
                // background: $brand;
                // background: $brand-overlay-dark;
                background: linear-gradient(0deg, #000, #111);
                color: $text-second;
                padding: .5rem .5rem;
                border-radius: 5px;
                margin: 0 1rem;
                overflow: hidden;
                box-shadow: inset 2px 2px 2px #fffa,
                            inset -2px -2px 2px #000a,
                                    5px 5px 5px rgba(0, 0, 0, .200);

                h3 {
                    font-size: 2rem;
                    margin-bottom: 1rem;
                    font-family: $font-ubuntu;
                    position: relative;
                    // width: fit-content;
                    text-align: center;

                    &::after {
                        position: absolute;
                        content: '';
                        bottom: -.1rem;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0;
                        height: .15rem;
                        border-radius: 5px;
                        background: #f4f4f4;
                        transition: 1.5s;
                    }

                    // DATA-SCROLL
                    &[data-scroll] {
                        transform: scale(1);
                        opacity: 1;
                    }
                    &[data-scroll="in"] {
                        &::after {
                            width: 3.5rem;
                        }
                    }
                }

                ul {
                    padding: .5rem 0 0 1rem;
                    li {
                        padding-bottom: 1rem;
                        &::marker {
                            color: $marker;
                        }

                        // DATA SCROLL
                        &[data-scroll] {
                            transform: scale(1) translateX(3rem);
                            transition: 2s;
                        }
                        &[data-scroll="in"] {
                            transform: scale(1) translateX(0);
                        }
                    }
                }
            }
            .mission {
                // background: #f4f4f4;
                padding: 5vh 1rem;
                margin: 5vh 0 0;

                h4 {
                    color:#000;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    font-family: $font-header;
                    text-transform: uppercase;
                    transition: .3s;
                    text-align: center;
                    &[data-scroll] {
                        transition: 2s;
                        transform: scale(1);
                        letter-spacing: .2rem;
                    }
                    &[data-scroll="in"] {
                        letter-spacing: normal;
                    }
                }

                p {
                    margin-bottom: .5rem;
                    line-height: 1.6;
                    transition: .3s;
                    font-weight: 500;
                }

                .statement {
                    border: 1px solid #000;
                    border-radius: 5px;
                    width: 100%;
                    height: 10vh;
                    height: 50vh;
                    // height: auto;
                    overflow: hidden;
                    margin-bottom: 1rem;
                    transition: 1s;
                    display: flex;
                    flex-direction: column-reverse;
                    @media (min-width: 768px) {
                        flex-direction: row;
                        flex-direction: column;
                        p {
                            font-size: 1.15rem;
                            text-align: center;
                        }
                    }

                    .mission-logo {
                        overflow: hidden;
                        flex-basis: 90%;
                    figure {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        // margin: 1rem auto;
                        @media (min-width: 768px) {
                            // width: 20%;
                            // height: 20%;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            border-radius: 5px;
                            // border: 3px solid blue;
                        }
                    }
                    &[data-scroll]{
                        transform: scale(1);
                        opacity: 1;
                        figure {
                            img {
                                transition: 1.5s;
                                transform: scale(1) translateY(20vh);
                            }
                        }
                    }
                    &[data-scroll="in"]{
                        figure {
                            img {
                                transform: scale(1) translateY(0);
                            }
                        }
                    }
                }
                    
                    .mission-content {
                        background: #000;
                        flex-basis: 50%;
                        text-align: center;
                        display: grid;
                        place-items: center;
                        @media (min-width: 768px) {
                            flex-basis: 20%;
                            // border-right: 1px solid $brand;
                            p {
                                font-size: 1.2rem;
                            }
                        }
                        p {
                            padding: .2rem .1rem;
                            color: $text-second;
                            span {
                                margin: 0 0rem;
                            }
                        }

                        // DATA-SCROLL
                        &[data-scroll] {
                            transition: 1.5s; 
                            opacity: 1;
                            transform: scale(1);

                            p {
                                opacity: .0;
                                transform: translateY(-5vh);
                                transition: 1.5s;
                            }
                        }
                        &[data-scroll="in"] {
                            transform: scale(1);

                            p {
                                opacity: 1;
                                transform: translateY(0);
                                transition-delay: .5s;
                            }
                        }
                    }

                    
                }
            }

            @media (min-width: 768px) {
                padding: 5vh 0 5vh;
                // margin-top: 10vh;
                .vision {
                    padding: 5vh .5rem;
                    margin: 0 5vw;

                    h3 {
                        font-size: 2.5rem;
                    }

                    ul {
                        
                        li {
                            padding-bottom: 1rem;
                            &::marker {
                                color: $marker;
                            }
                        }
                    }
                }
                .mission {
                    padding: 10vh 5vw;

                    .statement {
                        border-radius: 5px;
                        // padding: .5rem;
                        width: 100%;
                    }
                }
            }
        }
        @media (max-width: 768px) {
            .about-article {
                font-size: 1rem;
            }
        }

        @media (min-width: 768px) {
            .about-article {
                margin: 1rem 5vw;

                p {
                    font-size: 1.2rem;
                }
            }
        }
    }

    // ABOUT PAGE
    &#about-page {
        main {
            .about-overview {
                padding: 0vh 1rem 5vh;

                .page-article {
                    p {
                        margin-bottom: 1rem;
                        font-size: 1rem;
                        line-height: 1.6;

                        &.article-intro {
                            margin-bottom: 10vh;
                            line-height: 1.6;
                        }

                            &[data-scroll] {
                                transition: 1.5s;
                                transform: scale(1) translateY(10vh);
                            }
                            &[data-scroll="in"] {
                                transform: scale(1) translateY(0);
                            }
                        
                    }

                    .article-pad {
                        // background-color: pink;
                        background-color: #fff;
                        width: 100%;
                        margin: 5vh auto;

                        figure {
                            width: 50%;
                            overflow: hidden;
                            margin: 1rem auto;

                            img {
                                width: 100%;
                            }

                            &[data-scroll] {
                                transform: scale(1) translateY(10vh);
                                opacity: 0;
                            }
                            &[data-scroll="in"] {
                                transform: translateY(0);
                                opacity: 1;
                                transition: 2s;
                            }
                        }
                    }
                }



                @media (min-width: 768px) {
                    
                        padding: 0 5vw;

                        .page-article {
                            p {
                                font-size: 1.15rem;
                            }

                            .article-pad {
                                width: 15rem;
                                float: left;
                                overflow: hidden;
                                margin-right: .5rem;
                                margin: 0 .5rem 0 0;
                                border: 1px solid $brand;
                                border-radius: 5px;

                                figure {
                                    margin: 0;
                                    width: 100%;
                                    height: auto;

                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }
                
            }
            
            .vision-mission {
                // border: 1px solid $brand;
                padding: 1rem 0;
                .vision {
                    background: $brand;
                    background: $brand-overlay-dark;
                    color: $text-second;
                    padding: .5rem .5rem;
                    border-radius: 5px;
                    margin: 0 1rem;
                    overflow: hidden;
                    box-shadow: inset 2px 2px 2px #fffa,
                                inset -2px -2px 2px #000a,
                                        5px 5px 5px rgba(0, 0, 0, .200);

                    h3 {
                        font-size: 2.5rem;
                        margin-bottom: 1rem;
                        font-family: $font-ubuntu;
                        position: relative;
                        width: fit-content;

                        &::after {
                            position: absolute;
                            content: '';
                            bottom: -.1rem;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 0;
                            height: .2rem;
                            border-radius: 5px;
                            background: #f4f4f4;
                            transition: 1.5s;
                        }

                        // DATA-SCROLL
                        &[data-scroll] {
                            transform: scale(1);
                            opacity: 1;
                        }
                        &[data-scroll="in"] {
                            &::after {
                                width: 70%;
                            }
                        }
                    }

                    ul {
                        padding: .5rem 0 0 1rem;
                        li {
                            padding-bottom: 1rem;
                            &::marker {
                                color: $marker;
                            }

                            // DATA SCROLL
                            &[data-scroll] {
                                transform: scale(1) translateX(3rem);
                                transition: 2s;
                            }
                            &[data-scroll="in"] {
                                transform: scale(1) translateX(0);
                            }
                        }
                    }
                }
                .mission {
                    background: #f4f4f4;
                    padding: 5vh 5vw;
                    margin: 5vh 0 0;

                    h4 {
                        color:$brand;
                        font-size: 1.1rem;
                        margin-bottom: 1rem;
                        font-family: $font-header;
                        text-transform: uppercase;
                        transition: .3s;
                    }

                    p {
                        margin-bottom: .5rem;
                        line-height: 1.6;
                        transition: .3s;
                        font-weight: 500;
                    }

                    .statement {
                        border: 1px solid $brand;
                        border-radius: 5px;
                        padding: .5rem;
                        width: 100%;
                        margin-bottom: 1rem;
                    }

                    .term {
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;

                        .objective {
                            padding: .5rem;
                            border: 1px solid $brand;
                            border-radius: 5px;
                        }
                    }
                    // MS CLASS FOR HOVER STATES
                    .ms-item {
                        transition: .3s;

                        &:hover {
                            background: #fff;
                            p {
                                transition: .1s;
                            }
                        }

                        &[data-scroll] {
                            transform: scale(1);
                            opacity: 1;

                            h4 {
                                color: #000;
                            }
                            p {
                                opacity: 0;
                            }
                        }

                        &[data-scroll="in"]{
                            h4 {
                                color: $brand;
                                transition: 1s;
                            }
                            p {
                                transition: 1.5s;
                                opacity: 1;
                            }
                        }
                    }
                    // MS CLASS FOR HOVER STATE
                }

                @media (min-width: 768px) {
                    padding: 5vh 0 0;
                    margin-top: 10vh;
                    .vision {
                        padding: 5vh .5rem;
                        margin: 0 5vw;

                        h3 {
                            font-size: 2.5rem;
                        }

                        ul {
                            
                            li {
                                padding-bottom: 1rem;
                                &::marker {
                                    color: $marker;
                                }
                            }
                        }
                    }
                    .mission {
                        padding: 10vh 5vw;
    
                        .statement {
                            border: 1px solid $brand;
                            border-radius: 5px;
                            padding: .5rem;
                            width: 100%;
                        }
    
                        .term {
                            display: flex;
                            flex-direction: row;
    
                            .objective {
                                flex-basis: 50%;
                                padding: .5rem;
                                border: 1px solid $brand;
                            }
                        }
                    }
                }
            }
        }
    }
}