.container {
    position: relative;

    .about {
        // padding: 5vh 0;
        // border: 2px solid red;
        position: relative;
        @include xlg {
            .flex-container {
                // border: 2px solid blue;
                display: flex;
                align-items: center;
                padding: 5vh 0;
                @include lg {
                    padding: 0;
                }

            }
        }
        .section-title {
            padding: 5vh 5vw;
            @include lg {
                padding: 10vh 5vw 0;
            }
        }
        .about-article {
            // border: 1px solid $brand;
            background: $bg-main;
            // border-radius: 5px;
            margin: 5vh 1rem 10vh 5vw;
            text-transform: none;
            line-height: 1.6;
            // padding: .3em;
            // height: 40vh;
            overflow: hidden;
            text-align: left;
            @include sm {
                margin: 5vh 5vw;
            }
            @include xlg {
                width: 100%;
                // margin: 5vh 5vw;
                // margin: 5vh auto;
            }

            .article-body {
                margin-bottom: 5vh;
                h3 {
                    text-transform: capitalize;
                    font-size: 1.15rem;
                }

            }
            p {
                font-size: 1rem;
                font-size: clamp(1rem, 1.5vw, 1.15rem);
                font-weight: 400;
                
                &.article-intro {
                    @include xlg {
                        // text-align: center;
                    }
                &::first-letter {
                    font-size: 2rem;
                    // padding-right: 0.1em;
                    padding: 0 .2rem 0 .05rem;
                    background: #000;
                    color: #fff;
                    float: left;
                    margin-right: 0.1rem;
                    border-radius: .25rem;
                    box-shadow: 2px 3px 3px hsla(211, 16%, 34%, 0.150);
                    text-shadow: 2px 2px 0px #f8650c;
                    
                }
            }
                .article-link {
                    color: #000;
                    font-weight: 500;
                    text-transform: capitalize;
                    display: block;
                    position: relative;
                    transition: .25s;
                    &::before {
                        content: '-';
                        font-weight: 300;
                        // opacity: .5;
                        margin-right: .25rem;
                        transition: .25s;
                    }
                    // HOVER - ACTIVE MEDIA QUERY
                    // DESKTOP HOVER
                    @media (min-width: 768px){
                        &:hover {
                            color: $brand;
                            &::before {
                                opacity: .5;
                            }
                        }
                    }
                    // MOBILE ACTIVE
                    @media (max-width: 768px){
                        &:active {
                            color: $brand;
                            &::before {
                                opacity: .5;
                            }
                        }
                    }
                }
                
            }

            ul {
                // border: 1px solid red;
                margin: .5rem 0;
                padding: .5rem;
                position: relative;
                border-radius: .25rem;
                background: linear-gradient(90deg, #ddd, #fff);
                li {
                    position: relative;
                    list-style: none;
                    text-transform: capitalize;
                    font-weight: 500;
                    font-size: 1rem;
                    font-size: clamp(1rem, 1.5vw, 1.15rem);
                    font-size: $font-clamp-sm;
                }
            }
            a {
                // border: 1px solid red;
                display: block;
                // width: max-content;
                color: $brand;
                // text-transform: capitalize;
                font-size: 1rem;
                font-size: clamp(1rem, 1.5vw, 1.15rem);
                text-decoration: none;
            }
        }
        .vision-mission {
            padding: 5vh 5vw;
            margin: 5vh 0;
            // border: 2px solid blue;
            @include sm {
                // border: 2px solid yellow;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .vision {
                // background: $brand;
                // background: $brand-overlay-dark;
                background: linear-gradient(0deg, #000, #111);
                color: $text-second;
                padding: 1rem .5rem;
                border-radius: 5px;
                margin: 0 1rem;
                overflow: hidden;
                h3 {
                    font-size: 2rem;
                    font-weight: 600;
                    margin-bottom: 5vh;
                    position: relative;
                    letter-spacing: .1rem;
                    // width: fit-content;
                    text-align: center;
                    // PSEUDO UNDERLINE
                    &::after {
                        position: absolute;
                        content: '';
                        bottom: -.1rem;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0;
                        height: .15rem;
                        border-radius: 5px;
                        background: #f4f4f4;
                        background: $brand;
                        transition: 1.5s;
                    }

                    // DATA-SCROLL
                    &[data-scroll] {
                        transform: scale(1);
                        opacity: 1;
                    }
                    &[data-scroll="in"] {
                        &::after {
                            width: 3.5rem;
                        }
                    }
                }

                ul {
                    padding: .5rem 0 0 1rem;
                    li {
                        padding-bottom: 1rem;
                        font-size: 1rem;
                        font-weight: 400;
                        // FONT-UBUNTU ON SMALL SCREENS
                        @media (max-width: 768px) {
                            font-size: .95rem;
                        }
                        &::marker {
                            color: $marker;
                            color: hsla(0, 0%, 100%, 0.200);
                        }

                        // DATA SCROLL
                        &[data-scroll] {
                            transform: scale(1) translateX(3rem);
                            transition: 2s;
                        }
                        &[data-scroll="in"] {
                            transform: scale(1) translateX(0);
                        }
                    }
                }
            }
            .mission {
                // border: 2px solid red;
                // padding: 5vh 1rem;
                // margin: 5vh 0 0;
                h3 {
                    color:#000;
                    font-size: 1.5rem;
                    font-size: clamp(1.5rem, 2vw, 1.65rem);
                    font-weight: 500;
                    margin-bottom: 1rem;
                    font-family: $font-content;
                    text-transform: capitalize;
                    transition: .3s;
                    text-align: center;
                }

                // p {
                //     margin-bottom: .5rem;
                //     line-height: 1.6;
                //     transition: .3s;
                //     font-weight: 300;
                // }

                .statement {
                    border: 2px solid #000;
                    border-radius: 5px;
                    width: 100%;
                    height: 50vh;
                    // height: auto;
                    overflow: hidden;
                    margin-bottom: 1rem;
                    transition: 1s;
                    display: flex;
                    flex-direction: column-reverse;

                    .mission-logo {
                        overflow: hidden;
                        flex-basis: 90%;
                    figure {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;

                        // margin: 1rem auto;
                        @media (min-width: 768px) {
                            // width: 20%;
                            // height: 20%;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            border-radius: 5px;
                            transition: 1s;
                            // border: 3px solid blue;
                        }

                        &.io-item {
                            img {
                                transform: translate(0) scale(.8);
                            }
                        }
                        &.active-item {
                            img {
                                transform: translate(0) scale(1);
                                transition: 1s;
                            }
                        }
                    }
                }
                    
                    .mission-content {
                        flex-basis: 50%;
                        background: #000;
                        text-align: center;
                        display: grid;
                        place-items: center;
                        place-content: center;
                        padding: .5rem;
                        @include md {
                            // border: 2px solid blue;
                            padding: 1rem;
                            flex-basis: 20%;
                        }
                        @media (min-width: 768px) {
                            // border-right: 1px solid $brand;
                            
                        }
                        p {
                            color: $text-second;
                            font-size: 1rem;
                            font-size: clamp(1rem, 1.5vw, 1.15rem);
                            span {
                                margin: 0 0rem;
                            }
                            @include md {
                                br {
                                    display: none;
                                }
                            }
                        }
                        // VIEW SERVICES LINK
                        a {
                            text-transform: capitalize;
                            text-decoration: none;
                            color: $brand-light;
                            // border: 2px solid red;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: .5rem;

                            i {
                                font-size: .85rem;
                                transition: .25s;
                            }

                            &:hover {
                                i {
                                    transform: translateX(.25rem);
                                    color: $brand;
                                }
                            }
                        }
                    }

                    
                }
            }

            @media (min-width: 820px) {
                
                // margin-top: 10vh;
                .vision {
                    padding: 5vh .5rem;
                    margin: 0 5vw;
                    width: 70%;

                    h3 {
                        font-size: 2.5rem;
                    }

                    ul {
                        
                        li {
                            padding-bottom: 1rem;
                            &::marker {
                                color: $marker;
                            }
                        }
                    }
                }
            }
        }
    }

    // ABOUT PAGE
    &#about-page {
        main {
            .article-container {
                padding: 0vh 0 5vh;

                .page-article {
                    // border: 2px solid red;
                    position: relative;
                    isolation: isolate;
                    .article-intro {
                        // border: 1px solid blue;
                    }
                    p {
                        font-size: 1rem;
                        line-height: 1.6;
                        font-weight: 300;
                        // text-align: justify;

                        &.article-intro {
                            line-height: 1.6;
                            @include md {
                                width: 60%;
                            }
                        }

                            &[data-scroll] {
                                transition: 1.5s;
                                transform: scale(1) translateY(10vh);
                            }
                            &[data-scroll="in"] {
                                transform: scale(1) translateY(0);
                            }
                        
                    }

                    .article-pad {
                        // border: 2px solid red;
                        // background-color: pink;
                        background-color: #fff;
                        width: auto;
                        margin: 1rem auto;
                        
                        figure {
                            width: 100%;
                            overflow: hidden;
                            margin: 1rem auto;
                            
                            img {
                                width: 100%;
                                border-radius: $border-radius-sm;
                            }
                        }

                    }
                }



                @media (min-width: 768px) {
                    // padding: 0 5vw;
                    .page-article {
                            width: auto;
                            p {
                                font-size: 1.15rem;
                            }

                            .article-pad {
                                width: 20rem;
                                float: left;
                                overflow: hidden;
                                margin-right: .5rem;
                                margin: 0 .5rem 0 0;

                                figure {
                                    margin: 0;
                                    width: 100%;
                                    height: auto;
                                    
                                    img {
                                        border-radius: $border-radius-xsm;
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                                &.reverse {
                                    float: right;
                                    margin-right: 0;
                                    margin-left: .25rem;
                                }
                            }
                        }
                    }
                
            }
            
            .vision-mission {
                // border: 1px solid $brand;
                padding: 1rem 0;
                .vision {
                    // background: $brand;
                    background: #000;
                    // background: $brand-overlay-dark;
                    color: $text-second;
                    padding: 1rem;
                    border-radius: .25rem;
                    margin: 0 1rem;
                    overflow: hidden;
                    // box-shadow: $box-shadow-sm;
                    
                    h3 {
                        font-size: 2.5rem;
                        font-weight: 500;
                        margin-bottom: 1rem;
                        position: relative;
                        width: fit-content;
                        // color: $brand-light;
                    }

                    ul {
                        // padding: .5rem 0 0 1rem;
                        li {
                            // padding-bottom: .25rem;
                            margin-bottom: 1rem;
                            padding: .25rem 0rem .5rem .25rem;
                            font-weight: 400;
                            list-style: none;
                            border-bottom: 2px solid $brand-lightest-border;
                            transition: .25s;
                            &::marker {
                                color: #fff6;
                            }

                            @include lg {
                                padding-bottom: .5rem;
                            }

                            &:hover {
                                background: #161616;
                                border-color: transparent;
                                // border-color: $brand;
                                border-radius: $border-radius-xsm;
                            }
                        }
                    }
                }
                .mission {
                    background: #f4f4f4;
                    background: #000;
                    padding: 5vh 5vw;
                    margin: 10vh 0 0;

                    h4 {
                        color: #000;
                        color: #fff;
                        font-size: 1.25rem;
                        font-weight: 500;
                        margin-bottom: 1rem;
                        // font-family: $font-header;
                        text-transform: capitalize;
                        transition: .3s;
                    }

                    p {
                        margin-bottom: .5rem;
                        line-height: 1.6;
                        transition: .3s;
                        font-weight: 400;
                        color: #fff;
                        // FONT-UBUNTU ON SMALL SCREENS
                        @media (max-width: 768px) {
                            // font-family: $font-ubuntu;
                        }
                    }

                    .statement {
                        padding: .5rem;
                        width: 100%;
                        margin-bottom: 1rem;
                    }

                    .term {
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;

                        .objective {
                            padding: .5rem;
                        }
                    }
                    // MS CLASS FOR HOVER STATES
                    .ms-item {
                        border-radius: .25rem;
                        border: 1px solid $brand;
                        background: #111;
                        transition: .25s;
                        &[data-scroll] {
                            transform: scale(1);
                            opacity: 1;

                            h4 {
                                color: $brand;
                            }
                            p {
                                opacity: 0;
                            }
                        }

                        &[data-scroll="in"]{
                            h4 {
                                color: #000;
                                color: #fff;
                                transition: 1s;
                            }
                            p {
                                transition: 1.5s;
                                opacity: 1;
                            }
                        }
                        &:hover {
                            background: #fff;
                            background: #000;
                            transition: .5s;
                            border: 1px solid transparent;
                            h4 {
                                color: $brand;
                                transition: .5s;
                            }
                            p {
                                transition: .1s;
                            }
                        }
                    }
                    // MS CLASS FOR HOVER STATE
                }

                @media (min-width: 768px) {
                    padding: 5vh 0 0;
                    margin-top: 10vh;
                    .vision {
                        margin: 0 auto;
                        width: 70%;
                        h3 {
                            // text-align: center;
                            font-size: 2.5rem;
                            width: auto;
                        }
                    }
                    .mission {
                        padding: 10vh 5vw;
    
                        .statement {
                            padding: .5rem;
                            width: 100%;
                        }
    
                        .term {
                            display: flex;
                            flex-direction: row;
    
                            .objective {
                                flex-basis: 50%;
                                padding: .5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}