#banner {
    // min-height: 100vh;
    padding: 10vh 5vw;
    // border: 2px solid red;
    background-color: #fff;
    isolation: isolate;
    // margin: 0 5vw;
    @media (min-width: 768px) {
        margin: 0 5vw;
        padding: 10vh 0vw;  

    }

    .banner-image-container {
        // border: 2px solid blue;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5vh;
        @include md {
        // width: 20rem;
        flex-direction: row;
        height: 70vh;
        }
        figure {
            width: 100%;
            border-radius: .5rem;
            // border: 2px solid yellow;
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
                border-radius: .5rem;
                height: 100%;
                @include lg {
                    object-fit: cover;
                }
            }

            figcaption {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                padding: 5vh 5vw;
                // border: 3px solid green;
                // font-size: 1rem;
                background: #000;
                clip-path: circle(5% at 90% 90%);
                transition: .5s ease-in-out;
                cursor: pointer;
                animation: pulse 1.5s infinite ease;
                @keyframes pulse {
                    50% {
                        background: #0008;
                    }
                }
                @include sm {
                clip-path: circle(5% at 95% 5%);
                padding: 1rem;
                }

                h3 {
                    color: $brand;
                    text-transform: capitalize;
                    font-size: 1.5rem;
                }
                p {
                    color: #fff;
                }
                span {
                    display: none;
                    position: absolute;
                    right: .5vw;
                    top: 5vh;
                    // float: right;
                    color: $brand;
                    border-radius: 50%;
                    background: #0006;
                    padding: .25rem 1rem;
                    font-size: 1rem;
                    transition: 1s;
                    @include sm {
                        right: 5vw;
                        top: 10vh;
                    }
                    @include md {
                        right: 2vw;
                        top: 5vh;
                    }
                }
                &:hover {
                    clip-path: circle(75%);
                    background: #0007;
                    animation: none;

                    span {
                        opacity: 0;
                    }
                }
            }
        }
    }





    // .banner-bg {
    //     // border: 2px solid blue;
    //     position: sticky;
    //     top: 7vh;
    //     z-index: -1;
    //     height: 95vh;
    //     img {
    //         width: 100%;
    //         height: 70%;
    //         object-fit: cover;
    //         object-position: 38% 10%;
    //     }
    //     @media (min-width: 1024px) {
    //         width: 50%;
    //         img {
    //             height: 100%;
    //             // object-fit: contain;
    //             object-position: left;
    //         }
    //     }
    // }

    // .banner-fg {
    //     // border: 2px solid yellow;
    //     height: 95vh;
    //     img {
    //         width: 100%;
    //         height: 70%;
    //         object-fit: cover;
    //         object-position: 35%;
    //     }
    //     @media (min-width: 1024px) {
    //         // width: 50%;
    //         img {
    //             height: 100%;
    //             width: 100%;
    //             object-fit: contain;
    //             object-position: left;
    //         }
    //     }
    // }

    // figure {
    //     position: relative;
    //     figcaption {
    //         overflow: hidden;
    //         padding: .5rem;
    //         background: $brand;
    //         background: #000;
    //         font-size: 1.5rem;
    //         position: absolute;
    //         top: 0;
    //         left: 50%;
    //         width: 100%;
    //         text-align: center;
    //         transform: translateX(-50%);
            
    //         p {
    //             // font-family: $font-gruppo;
    //             font-weight: 300;
    //             color: #000;
    //             color: #ffff;
    //         }
    //         @media (min-width: 1024px){
    //             left: 70vw;
    //             top: 40vh;
    //             background: $brand;
    //             background: #000;
    //             font-size: 2.5rem;
    //             width: 40%;
    //             border: 2px solid $brand;
    //             border-radius: 5px;
    //             font-size: 1.3rem;

    //             p {
    //             color: #fff;
                    
    //             }
    //         }
    //     }

    //     // DATA-SCROLL 
    //     &[data-scroll] {
    //         transform: scale(1);
    //         opacity: 1;
    //         figcaption {
    //             p {
    //                 opacity: 0;
    //                 transform: translateY(-5vh);
    //                 transition: 1.5s;
    //                 transition-delay: .5s;
    //             }
    //         }
    //     }
    //     &[data-scroll="in"] {
    //         transform: scale(1);
    //         figcaption {
    //             p {
    //                 opacity: 1;
    //                 transform: translateY(0);
    //             }
    //         }
    //     }
    // }
}