#contact {
    background: $bg-main;
    background: #000;
    color: #fff;
    padding: 10vh 0 5vh;
    @include lg {
        // background-color: yellow;
    }
    .section-title {
        padding: 5vh 5vw;
    }
    .contact-items {
        // border: 2px solid $brand-light;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10vh;
        // align-items: center;
        padding: 5vh 0;
        margin: 0 1rem;

        @include lg {
                border: none;
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin: 10vh 5vw 5vh;
                gap: 2rem;
        }

        .contact-item {
            // border: 1px solid #000;
            background-color: #f4f4f4;
            background-color: #333;
            border-radius: .5rem;
            // margin: 1rem auto 5vh;
            padding: 1rem;
            padding: 1rem .5rem;
            height: 70%;
            width: 100%;
            transform: scale(.98);
            transition: .3s;

            @include lg {
                    width: 100%;
                    height: auto;
                    // overflow: hidden;
                    margin: 0;
                    padding: 1rem;
                    z-index: 2;
                    header {
                        font-size: 1.5rem;
                    }
                    button {
                    // border: 1px solid red;
                    a {
                            font-size: 1rem;
                        }
                    }
            }

            // ITEM HEADER = ICON + TITLE
            .contact-item-title {
                margin: -2rem 0 1.5rem;
                h3 {
                    text-transform: capitalize;
                    font-weight: 500;
                    font-size: 1.25rem;
                    font-size: clamp(1.25rem, 2.25vw, 1.4rem);
                }
                i {
                    font-size: 2.5rem;
                    margin-bottom: 1rem;
                    color: #f4f4f4;
                }
            }
            .contact-info {
                // border: 1px solid green;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .contact-info-item {
                    border-radius: $border-radius-sm;
                    margin-bottom: 1rem;
                    background: #fafafa;
                    background: linear-gradient(0deg, #000, hsl(0, 0%, 2.5%));
                    color: #fff;
                    padding: .5rem .5rem;
                    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .25);
                    outline: 1px solid transparent;
                    transition: .25s;
                }

                .address {
                    display: flex;
                    flex-direction: column;
                    // align-items: left;
                }
                p {
                    // color: $text-main;
                    // color: #000;
                    text-overflow: ellipsis;
                    line-height: 2;
                    span {
                        font-weight: 500;
                        color: $brand-light;
                    }
                    i {
                        margin-right: .5rem;
                        color: #fff9;
                        transition: .25s;
                    }
                }
                a {
                    // color: inherit;
                    color: inherit;
                    text-decoration: none;
                    &:hover {
                        color: $brand;
                        transition: .25s;
                    }
                }
                button {
                    display: flex;
                    align-items: center;
                    // width: 100%;
                    margin: 1rem 0 .5rem;
                    transition: .5s;
                    border: none;
                    // background: #fafafa;
                    border-radius: $border-radius-sm;
                    text-transform: capitalize;
                    background: #000;
                    // border: 1px solid blue;
                    @include md {
                    // border: 1px solid blue;
                    // width: auto;
                    background-color: transparent;
                    }
                    a {
                        font-size: 1rem;
                        color: $text-main;
                        text-decoration: none;
                        // background: $brand-light;
                        padding: .5em 1rem;
                        border-radius: $border-radius-sm;
                        transition: .5s;
                        isolation: isolate;
                        position: relative;
                        &::before, &::after {
                            content: ''; 
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: $border-radius-sm;
                            transition: .25s ease;
                            z-index: -1;
                        }
                        &::before {
                            background: $brand-btn;
                            box-shadow: $box-shadow-sm;
                        }
                        &::after {
                            background: $brand-btn-hover;
                            box-shadow: $box-shadow-sm-hover;
                            opacity: 0;
                        }
                        
                        i {
                            margin-left: .5rem;
                        }
                    }
                    
                    &:hover {
                        a {
                            transform: scale(.98);
                            color: #fff;
                            &::before {opacity: 0;}
                            &::after {opacity: 1;}
                        }
                    }
                }
            }

            // CONTACT ITEM HOVER 
            &:hover {
                .contact-info {
                    .contact-info-item {
                        outline-color: #fff4;
                        // ITEM HOVER
                        &:hover {
                            outline-color: $brand-light;
                            p {
                                color: $brand-light;
                                a {
                                    color: $text-light;
                                }
                                span {
                                    color: #fff8;
                                }
                                i {
                                    color: $text-light;
                                    transform: translateX(.125rem);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}