#footer {
    background: $bg-main;
    min-height: 100vh;
    .footer-contact {
        // border: 2px solid $brand-light;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 5vh 0;
        margin: 0 1rem;
        figure {display: none;}
        @media (max-width: 768px) {
            figure {
                display: none;
            }
        }

        .contact-item {
            border: 1px solid #000;
            border-radius: 5px;
            margin: 1rem auto;
            padding: 1rem;
            padding: 1rem .5rem;
            height: 70%;
            width: 100%;
            transition: .3s;

            header {
                // color: $brand;
                font-family: $font-header;
                font-size: 1.25rem;
                margin-bottom: 1em;
                text-align: center;
                text-transform: capitalize;
                text-transform: uppercase;
                
                i {
                    margin-right: .5rem;
                }
            }
            .contact-info {
                display: flex;
                flex-direction: column;
                // align-items: center;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0 1rem;

                
                .address {
                    display: flex;
                    flex-direction: column;
                    // align-items: left;
                }
                
                button {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin: 1rem auto;
                    transition: .5s;
                    border: none;
                    background: #fff;
                    text-transform: capitalize;
                    // border: 1px solid blue;

                    a {
                        color: $text-second;
                        font-family: $font-header;
                        text-overflow: ellipsis;
                        text-decoration: none;
                        background-image: linear-gradient(0deg, $brand, $brand-light);
                        padding: .5em 1rem;
                        border-radius: 10px;
                        transition: .5s;

                        box-shadow: inset 2px 2px 2px #fffa,
                            inset -2px -2px 2px #000a,
                            2px 2px 4px rgba(0, 0, 0, 0.308);
                        
                    }

                    i {
                        color: $brand;
                        color: #000;
                        opacity: .5;
                        transition: .5s;
                    }

                    &[data-scroll] {
                        transform: scale(1);
                        opacity: 1;
                    }
                    &[data-scroll="in"] {
                        a {
                            transform: translateX(30%);
                        }

                        i {
                            opacity: 1;
                            transform: scale(2.5);
                        }
                    }
                }
                p {
                    color: $text-main;
                    text-overflow: ellipsis;
                    font-family: $font-ubuntu;
                    // width: 100%;
                    // border: 1px solid red;
                }
                a {
                    color: $brand;
                    font-family: $font-ubuntu;
                    text-decoration: none;
                }
            }

            &:hover {
                transform: scale(1.02);
                border-color: $brand;
            }
        }
    }

    .footer-copyright {
        width: 100%;
        // min-height: 40vh;
        margin: 5vh 0 0;
        padding: 5vh .5rem 5vh 5vw;
        text-align: center;
        text-align: left;
        // display: grid;
        // place-items: center;
        text-transform: capitalize;
        // background: $brand;
        background-image: linear-gradient(0deg, #eee, #fff);
        position: relative;
        font-family: $font-ubuntu;

        p {
            color: $text-second;
            font-family: $font-ubuntu;
            color: #000;
            line-height: 1.6;
            font-size: .95rem;
            &#date {
                color: $text-second;
                color: #000;
            }
        }

        a {
            font-size: .9rem;
            color: $text-second;
        font-family: $font-ubuntu;
        color: #000;
            // opacity: .7;
            text-decoration: none;
            transition: .2s;
            text-transform: none;

            &:hover {
                opacity: 1;
            }
        }

        #date {
            display: block;
            font-size: .85rem;
            opacity: .8;
        font-family: $font-ubuntu;

        }
        .footer-logo {
            overflow: hidden;
            width: 6rem;
            height: 6rem;
            position: absolute;
            top: 1rem;
            right: 5vw;
            display: none;
            img {
                width: 100%;
                border-radius: 5px;
            }

            @media (min-width: 768px) {
                height: 20vh;
                display: block;
                width: auto;
                right: 5vw;

                img {
                    height: 100%;
                    border-radius: 5px;
                }
            }
        }
    }
    @media (min-width: 768px) {
        // padding: 5vh 5vw 0;

        h2 {
            // font-size: 3rem;
            text-align: center;
            margin: 0 auto;
            // margin-left: 10vw;
        }

        .footer-contact {
            border: none;
            // border: 1px solid red;
            // padding: 5vh 5vw;
            // display: flex;
            // flex-direction: column;
            // align-items: flex-end;
            // position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 10vh 5vw 5vh;
            gap: .5rem;

            figure {
                position: absolute;
                left: 5vw;
                bottom: 20vh;
                height: 50%;
                width: 50%;
                // border: 1px solid red;
                overflow: hidden;
                z-index: 1;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .contact-item {
                width: 40%;
                width: 100%;
                height: 40vh;
                overflow: hidden;
                margin: 0 1rem .5rem;
                margin: 0;
                padding: .5rem;
                z-index: 2;
                // border: 1px solid red;
                // text-align: right;

                button {
                    a {
                        font-size: 1rem;
                    }
                }
                
                &:hover {
                    button {
                        a {
                            transform: translateX(50%);
                        }
    
                        i {
                            opacity: 1;
                            transform: scale(2.5);
                        }
                    }
                }
            }
        }
        .footer-copyright {
            text-align: left;
            padding: 5vh 5vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-image: linear-gradient(90deg, #f4f4f4, #fff);

            p {
                font-size: 1.2rem;
            }

            a {
                font-size: 1.2rem;
            }

            #date {
                font-size: 1.2rem;
            }
        }
    }
    
}