#footer {
    background: $bg-main;
    // background: $brand;
    min-height: 100vh;
    // padding: 5vh 1rem 1rem;
    // h2 {
    //     color: $brand;
    //     text-align: center;
    //     margin-bottom: 2vh;
    //     font-size: 2rem;
    //     text-transform: capitalize;
    // }
    .footer-contact {
        // border: 2px solid $brand-light;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 5vh 0;
        margin: 0 1rem;

        @media (max-width: 768px) {
            figure {
                display: none;
            }
        }

        .contact-item {
            border: 1px solid $brand-light;
            border-radius: 5px;
            margin: 1rem auto;
            padding: 1rem;
            padding: 1rem .5rem;
            height: 70%;
            width: 100%;

            header {
                color: $brand;
                font-size: 1.3rem;
                margin-bottom: .5em;
                text-align: center;
                text-transform: capitalize;
                
                i {
                    margin-right: .5rem;
                }
            }
            .contact-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: hidden;
                text-overflow: ellipsis;
                button {
                    display: flex;
                    align-items: center;
                    width: 50%;
                    margin: 1rem auto;
                    transition: .5s;
                    border: none;
                    background: #fff;
                    text-transform: capitalize;

                    a {
                        color: $text-second;
                        text-overflow: ellipsis;
                        text-decoration: none;
                        background-image: linear-gradient(0deg, $brand, $brand-light);
                        padding: .5em 1rem;
                        border-radius: 10px;
                        transition: .5s;

                        box-shadow: inset 2px 2px 2px #fffa,
                            inset -2px -2px 2px #000a,
                            2px 2px 4px rgba(0, 0, 0, 0.308);
                        
                    }

                    i {
                        color: $brand;
                        opacity: .5;
                        transition: .5s;
                    }

                    &[data-scroll] {
                        transform: scale(1);
                        opacity: 1;
                    }
                    &[data-scroll="in"] {
                        a {
                            transform: translateX(20%);
                        }

                        i {
                            opacity: 1;
                            transform: scale(2.5);
                        }
                    }
                }
                p {
                    color: $text-main;
                    text-overflow: ellipsis;
                    // width: 100%;
                    // border: 1px solid red;
                }
            }

            &:hover {
                // button {
                //     a {
                //         transform: translateX(20%);
                //     }

                //     i {
                //         opacity: 1;
                //         transform: scale(2.5);
                //     }
                // }
            }
        }
    }

    .footer-copyright {
        width: 100%;
        margin: 5vh 0 0;
        padding: 5vh 0;
        text-align: center;
        text-transform: capitalize;
        background: $brand;

        p {
            color: $text-second;
            line-height: 1.6;

            a {
                color: $text-main;
                text-decoration: none;
            }
            &#date {
                color: $text-second;
            }
        }
    }
    @media (min-width: 768px) {
        // padding: 5vh 5vw 0;

        h2 {
            // font-size: 3rem;
            text-align: center;
            margin: 0 auto;
            // margin-left: 10vw;
        }

        .footer-contact {
            border: none;
            // border: 1px solid red;
            // padding: 5vh 5vw;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            margin: 10vh 5vw 5vh;

            figure {
                position: absolute;
                left: 5vw;
                bottom: 20vh;
                height: 50%;
                width: auto;
                // border: 1px solid red;
                overflow: hidden;
                z-index: 1;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .contact-item {
                width: 40%;
                margin: 0 1rem .5rem;
                z-index: 2;
                // border: 1px solid red;
                // text-align: right;

                button {
                    a {
                        font-size: 1rem;
                    }
                }
                
                &:hover {
                    button {
                        a {
                            transform: translateX(50%);
                        }
    
                        i {
                            opacity: 1;
                            transform: scale(2.5);
                        }
                    }
                }
            }
        }
        .footer-copyright {}

    }
    
}