#header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 5vh;
    max-height: 8vh;
    background-color: $header-bg;
    display: flex;
    transition: 1s;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    // CHANGE BG COLOR ON SCROLL
    &.scroll {
    background-color: $brand;

    }
    // &.active {
    //     background-color: $header-bg;
    //     background-color: blue;
    // }
    .logo {
        transition: .2s;
        &:hover {
            transform: scale(.98);
        }
    }
    .brand {
        border: 1px solid $brand-light;
        padding: .2em .5em;
        border-radius: 5px;
        display: grid;
        place-items: center;
        text-transform: uppercase;
        
        a {
            color: $text-second;
            text-decoration: none;
            
            span {
                color: $brand-light;
            }
        }
    }
    
    .navigation {
        // border: 1px solid yellow;
        // position: relative;
        text-transform: uppercase;
    }
    // MOBILE HEADER 
    @media (max-width: 768px) {
        height: 7vh;
        padding: 1vh 1rem;
        .brand {
            a {
                font-size: 1.2em;
            }
        }
        .logo {
            // display: none;
            width: 30vw;
            height: 100%;
            overflow: hidden;
            border-radius: 5px;

            figure {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                overflow: hidden;


                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    border-radius: 5px;
                }
            }
        }
        .navigation {
            border: none;
            nav {
                display: none;
            }
            aside {
                position: fixed;
                top: 5vh;
                right: -100vw;
                width: 100%;
                height: 100vh;
                background-color: $bg-second;
                padding: 0 ;
                transition: .5s;
                z-index: -1;
                overflow: hidden;


                ul {
                    // border: 2px solid $brand-light;
                    border-radius: 3px;
                    position: absolute;
                    padding: 2em .2em;
                    top: 5vh;
                    right: 25vw;
                    width: 70vw;
                    height: 100%;
                    overflow-y: auto;

                    li {
                        // padding-bottom: 5vh;
                        margin: 0 0 2rem;
                        list-style: none;
                        border: 1px solid $brand-light;
                        border-radius: 5px;
                        display: flex;
                        justify-content: flex-start;
                        justify-content: center;
                        align-items: center;
                        transition: 1s;
                        transform: translateX(3em);
                        opacity: 0;

                        &.aside-dropdown {
                        margin: 0 0 2rem;
                        padding: 0 1rem 0 0;
                        position: relative;
                        display: flex;
                        flex-direction: column;

                        button {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            float: left;
                            color: $nav-links;
                            text-decoration: none;
                            margin-right: auto;
                            width: 100%;
                            padding: 1em 0;
                            transition: .2s;
                            border: none;
                            background-color: transparent;
                            // background-color: pink;
                            font-size: 1rem;
                            text-transform: uppercase;


                            a {
                                color: #fff000;
                            }

                            i {
                                position: relative;
                            }
                            }


                            .aside-dropdown-content {
                                position: absolute;
                                position: relative;
                                top: 0;
                                // left: 3.75rem;
                                width: 100%;
                                height: 0;
                                overflow: hidden;
                                background-color: $bg-second;
                                display: flex;
                                flex-direction: column;
                                transition: .5s;
                                a {
                                margin-left: auto;
                                // width: 50%;
                                    &:hover {
                                        color: $text-second;
                                        transition: .2s;
                                    }
                                }
                            }

                            &:hover {
                                .aside-dropdown-content {
                                    // display: block;
                                    height: 20vh;
                                }
                            }
                        }

                        a {
                            color: $nav-links;
                            text-decoration: none;
                            // width: 100%;
                            padding: 1em .5em;
                            transition: .2s;
                            // border: 1px solid #dddddd1a;
                        }

                        i {
                            color: $brand-light;
                            // width: 20%;
                            opacity: .7;
                            // padding: .1em;
                            // margin-right: auto;
                            position: absolute;
                            left: .5rem;
                        }
                    }
                }
                
                &.active {
                    right: -20vw;
                    ul {
                        li {
                            transform: translateX(0);
                            opacity: 1;
                        }
                        :nth-child(1) {
                            transition-delay: .3s;
                        }
                        :nth-child(2) {
                            transition-delay: .4s;
                        }
                        :nth-child(3) {
                            transition-delay: .5s;
                        }
                        :nth-child(4) {
                            transition-delay: .6s;
                        }

                    }

                }
            }
            
        }
    }
    // END OF MOBILE HEADER 
    
    // DESKTOP HEADER
    @media (min-width: 768px) {
        height: 10vh;
        // display: none;
        padding: .5em 5vw;
        .brand {
            a {
                font-size: 1.5em;
            }
        }
        .logo {
            // display: none;
            // border: 2px solid $brand;
            border-radius: 5px;
            width: auto;
            // margin: 0 auto;
            height: 100%;

            figure {
                height: 100%;
                width: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        .navigation {
            // border: 1px solid yellow;
            display: grid;
            place-items: center;
            padding: .5em;
            .toggle {
                display: none;
            }

            aside {
                display: none;
            }

            // NAV STYLE
            nav {
                display: block;
                
                ul {
                    display: flex;
                    align-items: center;
                    li {
                        padding-left: 1em;
                        list-style: none;
                        float: left;
                        position: relative;

                        a {
                            color: #fff;
                            text-decoration: none;
                            transition: .3s;
                            padding: .5rem;
                            border-radius: 5px;

                            &:hover {
                                color: $text-second;
                                background-color: $brand;
                                box-shadow: inset 2px 2px 2px #fffa,
                                            inset -2px -2px 2px #000a;
                            }
                        }
                    }

                    // DROPDOWN
                    .dropdown {
                        // position: relative;
                        button {
                            display: flex;
                            align-items: center;
                            float: left;
                            color: #fff;
                            text-decoration: none;
                            transition: .3s;
                            padding: .5rem;
                            border-radius: 5px;
                            background-color: transparent;
                            outline: none;
                            border: none;
                            font-size: 1rem;
                            text-transform: uppercase;
                            cursor: pointer;

                            i {
                                margin-left: .5rem;
                            }
                        }
                        .dropdown-content {
                            display: block;
                            height: 0;
                            overflow: hidden;
                            position: absolute;
                            top: 5vh;
                            left: 0%;
                            width: auto;
                            background-color: $brand;
                            transition: .2s;
                            border-radius: 5px;

                            a {
                                color: #000;
                                display: block;
                                border-radius: 0;

                                &:hover {
                                    color: $text-second;
                                    box-shadow: none;
                                    background-color: #000;
                                }
                            }
                        }

                        &:hover {
                            i {
                                transition: .3s;
                                transform: scale(.9);
                                color: $text-main;
                            }
                            .dropdown-content {
                                // display: block;
                                height: 25vh;
                                border: 2px solid #000;
                            }
                        }
                    }
                }
            }
        }

    }
    // DESKTOP HEADER
    
}