#header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 5vh;
    max-height: 8vh;
    background-color: transparent;
    @media (min-width: 768px) {
        background-color: transparent;
    }
    display: flex;
    transition: 1s;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    // CHANGE BG COLOR ON SCROLL
    &.scroll {
    background-color: $brand;
    // NAV BAR LINKS UNDERLINES COLOR WHEN SCROLL CLASS ACTIVE
    .navigation {
        nav {
            ul {
                li {
                    a {
                        &::after {
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
    }
    &.active {
        background-color: #000;
    }
    // LOGO - STARTS WITH 0 OPACITY
    .logo {
        transition: 1s;
        opacity: 0;
        &:hover {
            transform: scale(.98);
        }
    }
    .brand {
        border: 1px solid $brand-light;
        padding: .2em .5em;
        border-radius: 5px;
        display: grid;
        place-items: center;
        text-transform: uppercase;
        
        a {
            color: $text-second;
            text-decoration: none;
            
            span {
                color: $brand-light;
            }
        }
    }
    
    .navigation {
        // border: 1px solid yellow;
        // position: relative;
        text-transform: uppercase;
    }
    // MOBILE HEADER 
    @media (max-width: 821px) {
        height: 7vh;
        padding: 1vh 1rem;
        .brand {
            a {
                font-size: 1.2em;
            }
        }
        .logo {
            // display: none;
            width: 10rem;
            width: auto;
            height: 100%;
            // overflow: hidden;

            figure {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                overflow: hidden;


                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: left;
                    border-radius: 5px;
                }
            }
        }
        .navigation {
            border: none;
            nav {
                display: none;
            }
            aside {
                position: fixed;
                top: 5vh;
                right: -100vw;
                width: 100%;
                height: 100vh;
                background-color: $bg-second;
                padding: 0 ;
                transition: .5s;
                z-index: -1;
                overflow-y: auto;


                ul {
                    // border: 2px solid $brand-light;
                    border-radius: 3px;
                    position: absolute;
                    padding: 2em .2em;
                    top: 5vh;
                    right: 25vw;
                    width: 70vw;
                    height: 100%;
                    overflow-y: auto;

                    li {
                        // padding-bottom: 5vh;
                        margin: 0 1rem 2rem;
                        list-style: none;
                        border: 1px solid $brand-light;
                        border-radius: 5px;
                        display: flex;
                        justify-content: flex-start;
                        justify-content: center;
                        align-items: center;
                        transition: 1s;
                        transform: translateX(3em);
                        opacity: 0;

                        &.aside-dropdown {
                        margin: 0 0 2rem;
                        margin: 0 1rem 2rem;
                        padding: 0 1rem 0 0;
                        position: relative;
                        display: flex;
                        flex-direction: column;

                        button {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            float: left;
                            color: $nav-links;
                            text-decoration: none;
                            margin-right: auto;
                            width: 100%;
                            padding: .5rem 0;
                            transition: .2s;
                            border: none;
                            background-color: transparent;
                            // background-color: pink;
                            font-size: 1rem;
                            text-transform: uppercase;


                            i {
                                position: relative;
                                &.fa-caret-down {
                                    transition: .3s;
                                }
                            }
                            }


                            .aside-dropdown-content {
                                position: relative;
                                top: 0;
                                // left: 3.75rem;
                                width: 100%;
                                height: 0;
                                // padding: 1rem;
                                overflow-y: auto;
                                background-color: $bg-second;
                                display: flex;
                                flex-direction: column;
                                transition: .5s;
                                a {
                                    // text-transform: capitalize;
                                    margin-left: auto;
                                width: auto;
                                    &:hover {
                                        color: $text-second;
                                        transition: .2s;
                                    }
                                }
                                // SERVICE PAGE ASIDE MENU ITEMS
                                &.services-dropdown {
                                    a {
                                        width: 100%;
                                        text-align: right;
                                        text-transform: capitalize;
                                    }
                                }
                            }

                            &:hover {
                                button {
                                    color: $text-second;
                                    i {
                                        transition: .2s;
                                        color: #fffa;
                                    &.fa-caret-down {
                                        transform: rotate(180deg);
                                    }
                                }
                                }
                                .aside-dropdown-content {
                                    // display: block;
                                    height: 18vh;
                                }
                                // SERVICE PAGE DROPDOWN HOVER STATE
                                .services-dropdown {
                                    height: 65vh;
                                }
                                .projects-dropdown {
                                    height: 60vh;
                                    overflow-y: auto;
                                }
                            
                            }
                        }

                        a {
                            color: $nav-links;
                            text-decoration: none;
                            width: 100%;
                            text-align: center;
                            padding: .5rem;
                            transition: .2s;
                        }

                        i {
                            color: $brand-light;
                            // width: 20%;
                            opacity: .7;
                            // padding: .1em;
                            // margin-right: auto;
                            position: absolute;
                            left: .5rem;
                        }
                    }
                }
                // HAMBURGER ACTIVE CLASS
                &.active {
                    // DISPLAY ASIDE FROM RIGHT
                    right: -20vw;
                    // DISPLAY UL
                    ul {
                        li {
                            transform: translateX(0);
                            opacity: 1;
                        }
                        :nth-child(1) {
                            transition-delay: .3s;
                        }
                        :nth-child(2) {
                            transition-delay: .4s;
                        }
                        :nth-child(3) {
                            transition-delay: .5s;
                        }
                        :nth-child(4) {
                            transition-delay: .6s;
                        }
                        :nth-child(5) {
                            transition-delay: .7s;
                        }
                        :nth-child(6) {
                            transition-delay: .8s;
                        }

                    }

                }
            }
        // ASIDE HOVER 
        // &:hover {
        //     aside {
        //         right: -20vw;
        //         // UL DISPLAY
        //         ul {
        //             li {
        //                 transform: translateX(0);
        //                 opacity: 1;
        //             }
        //             :nth-child(1) {
        //                 transition-delay: .3s;
        //             }
        //             :nth-child(2) {
        //                 transition-delay: .4s;
        //             }
        //             :nth-child(3) {
        //                 transition-delay: .5s;
        //             }
        //             :nth-child(4) {
        //                 transition-delay: .6s;
        //             }
        //             :nth-child(5) {
        //                 transition-delay: .7s;
        //             }
        //             :nth-child(6) {
        //                 transition-delay: .8s;
        //             }

        //         }
        //     }
        // }
        }
    }
    // END OF MOBILE HEADER 
    
    // DESKTOP HEADER
    @media (min-width: 821px) {
        height: 10vh;
        // display: none;
        padding: .5em 5vw;
        .brand {
            a {
                font-size: 1.5em;
            }
        }
        .logo {
            height: 100%;
            
            figure {
                border-radius: 5px;
                height: 100%;
                width: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        .navigation {
            // border: 1px solid yellow;
            display: grid;
            place-items: center;
            padding: .5em;
            .toggle {
                display: none;
            }

            aside {
                display: none;
            }

            // NAV STYLE
            nav {
                display: block;
                
                ul {
                    display: flex;
                    align-items: center;
                    li {
                        padding-left: 1em;
                        list-style: none;
                        float: left;
                        position: relative;

                        a {
                            color: $text-second-trans;
                            text-decoration: none;
                            transition: .3s;
                            padding: .3rem;
                            border-radius: 5px;
                            position: relative;
                            // NAV LINK UNDERLINE
                            &::after {
                                position: absolute;
                                content: '';
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%) scale(.1);
                                width: 70%;
                                height: .15rem;
                                background-color: $brand;
                                transition: .3s;
                            }

                            &:hover {
                                color: $text-second;
                                // color: $brand-light;
                                &::after {
                                    transform: translateX(-50%) scale(1);
                                }
                            }
                        }
                    }

                    // DROPDOWN
                    .dropdown {
                        // position: relative;
                        button {
                            display: flex;
                            align-items: center;
                            float: left;
                            color: #161616;
                            color: $text-second-trans;
                            text-decoration: none;
                            transition: .3s;
                            padding: .5rem;
                            border-radius: 5px;
                            background-color: transparent;
                            outline: none;
                            border: none;
                            font-size: 1rem;
                            text-transform: uppercase;
                            cursor: pointer;

                            i {
                                margin-left: .5rem;
                            }
                        }
                        .dropdown-content {
                            display: block;
                            height: 0;
                            overflow: hidden;
                            position: absolute;
                            top: 5vh;
                            left: 0%;
                            width: max-content;
                            background-color: $brand;
                            transition: 1s;
                            border-radius: 5px;

                            a {
                                display: block;
                                border-radius: 0;

                                &:hover {
                                    color: $text-second;
                                    box-shadow: none;
                                    background-color: #000;
                                }
                            }

                            i {
                                color: #ddd;
                                margin-right: .5rem;
                            }
                        }

                        &:hover {
                            button {
                                color: #ddd;
                                i {
                                    transition: .3s;
                                    transform: scale(.9) rotate(180deg);
                                    // color: #ddd;
                                }
                            }
                           
                            .dropdown-content {
                                // display: block;
                                height: 20vh;
                                height: max-content;
                                border: 2px solid #000;
                            }
                        }
                    }
                }
            }
        }

    }
    // DESKTOP HEADER
    
}