#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    transition: all .25s;
    isolation: isolate;
    background-color: transparent;

    // BACKGROUND COLORS
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        transition: .25s;
        z-index: -1;
    }
     // MOBILE HEADER 
    @media (max-width: 1024px) {
        height: 7vh;
        padding: .3rem 1rem;
        
        .navigation {

            border: none;
            nav {
                display: none;
            }
            aside {
                position: fixed;
                top: 7vh;
                right: -100vw;
                width: 100%;
                height: 100vh;
                background-color: $bg-second;
                padding: 0 ;
                transition: .5s;
                z-index: -1;
                // overflow-y: auto;
                overflow: hidden;
                z-index: 1;

                ul {
                    // border: 2px solid $brand-light;
                    border-radius: 3px;
                    padding: 2em .2em;
                    width: 70vw;
                    height: 100%;
                    height: auto;
                    overflow: none;

                    li {
                        // padding-bottom: 5vh;
                        margin: 0 1rem 1rem;
                        list-style: none;
                        // border-bottom: 1px solid hsla(39, 100%, 50%, .3);
                        border-bottom: 1px solid rgba(78, 78, 78, 0.4);
                        // border-bottom-right-radius: .5rem;
                        display: flex;
                        justify-content: flex-start;
                        justify-content: center;
                        align-items: center;
                        transition: 1s;
                        transform: translateX(2em);
                        opacity: 0;

                        &.aside-dropdown {
                        margin: 0 1rem 1rem;
                        padding: 0 1rem 0 0;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        // ASIDE BUTTON LINKS
                        button {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            float: left;
                            margin-right: auto;
                            width: 100%;
                            padding: .5rem 0;
                            background-color: transparent;
                            color: $nav-links;
                            font-size: 1rem;
                            text-transform: capitalize;
                            text-decoration: none;
                            letter-spacing: .025rem;
                            transition: .2s;
                            border: none;
                            // background-color: pink;


                            i {
                                position: relative;
                                color: #fff9;
                                &.fa-caret-down {
                                    transition: .3s;
                                }
                            }
                            }


                            .aside-dropdown-content {
                                position: relative;
                                top: 0;
                                // left: 3.75rem;
                                width: 100%;
                                height: 0;
                                // padding: 1rem;
                                overflow:hidden;
                                background-color: $bg-second;
                                display: flex;
                                flex-direction: column;
                                transition: .5s;
                                a {
                                    text-transform: capitalize;
                                    margin-left: auto;
                                    width: auto;
                                    letter-spacing: .025rem;
                                    font-weight: 300;
                                    &:hover {
                                        color: $text-second;
                                        transition: .2s;
                                    }
                                }
                                // SERVICE PAGE ASIDE MENU ITEMS
                                &.services-dropdown {
                                    a {
                                        width: 100%;
                                        text-align: right;
                                        text-transform: capitalize;
                                    }
                                }
                            }

                            &:hover {
                                transition: .2s;
                                border-color: #fff8;
                                border-radius: 0;

                                button {
                                    color: $brand-light;
                                    transition: .2s;

                                    i {
                                        transition: .2s;
                                        color: #fff6;

                                        &.fa-caret-down {
                                            transform: rotate(180deg);
                                        }
                                    }
                                }

                                .aside-dropdown-content {
                                    // display: block;
                                    height: 18vh;
                                    a {
                                        &:hover {
                                            color: $brand-light;
                                        }
                                    }
                                }

                                // SERVICE PAGE DROPDOWN HOVER STATE
                                .services-dropdown {
                                    height: 65vh;
                                }

                                .projects-dropdown {
                                    height: 60vh;
                                    overflow-y: auto;
                                }

                            }
                        }

                        a {
                            color: $nav-links;
                            text-decoration: none;
                            width: 100%;
                            text-align: center;
                            padding: .5rem;
                            transition: .2s;
                        }

                        i {
                            color: $brand-light;
                            // width: 20%;
                            opacity: .7;
                            // padding: .1em;
                            // margin-right: auto;
                            position: absolute;
                            left: .5rem;
                        }
                    }
                }

                .social-links {
                    // border: 2px solid yellow;
                    // position: absolute;
                    // bottom: 5vh;
                    // left: 5vw;
                    font-family: $font-ubuntu;
                    width: 85vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    opacity: 1;
                    transition: .5s;
                    
                    a {
                        // font-family: $font-content;
                        // border: 1px solid pink;
                        width: 100%;
                        text-decoration: none;
                        color: #f4f4f4;
                        letter-spacing: .05rem;
                        font-weight: 300;
                        // letter-spacing: .025rem;
                        // margin: 1rem 0 0;
                        margin-bottom: .5rem;
                        transform: translateY(2rem);
                        opacity: 0;
                        transition: .5s;
                        text-transform: none;
                        
                        i {
                            // border: 1px solid red;
                            width: 1rem;
                            margin: 0 .5rem 0 1rem;
                            font-size: 1rem;
                            color: $brand-light;
                        }
                    }
                }
                // HAMBURGER ACTIVE CLASS
                &.active {
                    // DISPLAY ASIDE FROM RIGHT
                    right: -10vw;
                    // DISPLAY UL
                    ul {
                        li {
                            transform: translateX(0);
                            opacity: 1;
                        }
                        :nth-child(1) {
                            transition-delay: .3s;
                        }
                        :nth-child(2) {
                            transition-delay: .35s;
                        }
                        :nth-child(3) {
                            transition-delay: .4s;
                        }
                        :nth-child(4) {
                            transition-delay: .45s;
                        }
                        :nth-child(5) {
                            transition-delay: .5s;
                        }
                        :nth-child(6) {
                            transition-delay: .8s;
                        }

                    }
                    .social-links {
                        opacity: 1;
                        a {
                            opacity: 1;
                            transform: translateY(0);
                            transition-delay: calc(.35s + .1s * var(--i)) ;
                        }
                    }
                }
            }

        }
    }
    // END OF MOBILE HEADER 
    
    // DESKTOP HEADER
    @media (min-width: 1024px) {
        height: 8vh;
        padding: .25rem 5vw;

        .navigation {
            // border: 1px solid yellow;
            // display: grid;
            // place-items: center;
            float: right;
            // padding: .5em;
            .toggle {
                display: none;
            }

            aside {
                display: none;
            }

            // NAV STYLE
            nav {
                display: block;
                transition: .5s;
                
                ul {
                    display: flex;
                    align-items: center;
                    li {
                        padding-left: 1em;
                        list-style: none;
                        float: left;
                        position: relative;

                        a {
                            color: #000;
                            text-decoration: none;
                            transition: .3s;
                            padding: .3rem;
                            font-size: 1rem;
                            border-radius: 5px;
                            position: relative;
                            display: block;
                            // NAV LINK UNDERLINE
                            &::after {
                                position: absolute;
                                content: '';
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%) scale(.1);
                                width: 70%;
                                height: .15rem;
                                background-color: $brand;
                                transition: .3s;
                            }

                            &:hover {
                                &::after {
                                    transform: translateX(-50%) scale(1);
                                }
                            }
                        }
                    }

                    // DROPDOWN
                    .dropdown {
                        // position: relative;
                        button {
                            font-size: .9rem;
                            display: flex;
                            align-items: center;
                            float: left;
                            color: #000;
                            text-decoration: none;
                            transition: .3s;
                            padding: .5rem;
                            border-radius: 5px;
                            background-color: transparent;
                            border: none;
                            text-transform: capitalize;
                            cursor: pointer;

                            i {
                                margin-left: .5rem;
                            }
                        }
                        .dropdown-content {
                            display: block;
                            height: 0;
                            width: 15vw;
                            overflow-y: auto;
                            position: absolute;
                            top: 5vh;
                            left: -5vw;
                            width: max-content;
                            background-color: $brand;
                            transition: .25s;
                            border-radius: .25rem;

                            a {
                                display: block;
                                border-radius: 0;
                                &::after {
                                    display: none;
                                }

                                &:hover {
                                    color: $text-second;
                                    box-shadow: none;
                                    background-color: #000;
                                    
                                }
                            }

                            i {
                                color: #ddd;
                                margin-right: .5rem;
                            }
                        }

                        &:hover {
                            button {
                                color: #000a;
                                i {
                                    transition: .3s;
                                    transform: scale(.9) rotate(180deg);
                                    // color: #ddd;
                                }
                            }
                            .dropdown-content {
                                // display: block;
                                height: 15vh;
                                opacity: 1;
                                border: 2px solid #000;
                                @media (min-width:820px){
                                    height: 55vh;
                                    height: auto;
                                    width: 15vw;
                                    overflow-y: auto;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
    
    // CHANGE BG COLOR ON SCROLL
    // HEADER CLASSES FOR IO
    &.index-header {
        background-color: #fff;
        background-color: #000a;
        background: transparent;       
    }
    // &.page-header {
    //     background: $brand;
    // }

    // LOGO - STARTS WITH 0 OPACITY
    .logo {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 1rem;
        padding: 0 .2rem;
        transition: .5s;
        height: 100%;
        width: auto;
        // overflow: hidden;
        // display: grid;
        // place-items: center;
        // border-radius: $border-radius-sm;

        // border: 1px solid blue;
        @include sm {
            left: 5vw;
        }

        a {
            color: #fff;
            text-align: center;
            text-decoration: none;
            overflow: hidden;
            width: 15rem;
            height: 100%;
            // border: 1px solid red;
            transition: .3s;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: left;
                
            }
        }
    }
    
    .navigation {
        // border: 1px solid yellow;
        // position: relative;
        text-transform: capitalize;
    }


    // HEADER ACTIVE CLASS
    &.hero-header {
        height: 25vh;
        &::after {
            background-color: transparent;
        }
        @media (min-width: 768px) {
            background-color: transparent;
            // background-color: #ffee00b6;
            .navigation {
                nav {
                    ul {
                        // background: #000;
                        border-radius: .5rem;
                        li {
                            a {
                                opacity: .7;

                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                        .dropdown {
                            button {
                                opacity: .7;
                            }
                        }
                    }
                }
            }
            
        }
        // NAV BAR LINKS UNDERLINES COLOR WHEN SCROLL CLASS ACTIVE
        .navigation {
            // position: relative;
            // right: 1rem;
            z-index: 5;
            nav {
                // border: 1px solid red;
                transform: translateY(5vh);

                ul {
                    li {
                        a {
                            color: $text-second;
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }

                .dropdown {
                    button {
                        color: $text-second;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }

            .toggle {
                top: 1rem;

                .bar {
                    background-color: #ffffff;
                    &::after, &::before {
                        background-color: #ffffff;
                    }
                }
            }
        }
        // LOGO 
        .logo {
            img {
                border-bottom-left-radius: $border-radius-sm;
                border-bottom-right-radius: $border-radius-sm;
            }
        }
    }
    &.toggle-header {
        &::after {
            background-color: #000;
        }
        .navigation {
            .toggle {
                .bar {
                    background-color: $brand;
                    transition: .5s;
                    &::before, &::after {
                        background-color: $brand;
                        transition: .5s;
                    }
                }
            }
        }
    }
    &.main-header {
        &::after {
            background-color: #fff;
            box-shadow: .05rem .05rem .5rem rgba(255, 166, 0, 0.150), .25rem .25rem 1rem rgba(0, 0, 0, .100);
            transition: box-shadow 1s, background-color .05s;
            
        }
        .navigation {
            .toggle {
                .bar {
                    background-color: $brand;
                    &::before, &::after {
                        background-color: $brand;
                    }
                }
            }
        }
    }
    
}