#hero {display: grid;
    place-items: center;
    @media (max-width: 768px) {
        display: grid;
        place-items: center;
        .logo {
            width: 50vw;
            height: 50vh;
            // overflow: hidden;
            figure {
                overflow: hidden;

                img {
                    width: 100%;
                }
            }
        }

        .slogan {
            text-align: center;
            margin: 0 auto;
            background-color: #000;

            p {
                background-color: $brand;
                padding: .5em;
            }
        }
    }
    min-height: 100vh;
    background-color: $primary-color;
}