#hero {
    min-height: 100vh;
    padding: 5vh 5vw;
    background: #000;
    transition: .25s;
    position: relative;
    isolation: isolate;

    .hero-image {
        background: #0009;
        position: absolute;
        z-index: -1;
        inset: 0;

        img {
            object-fit: cover;
            object-position: 55% 50%;
            height: 100%;
            width: 100%;
            mix-blend-mode: darken;

            @include lg {
                object-position: 90% 0%;
                position: absolute;
                top: 0;
                right: 0;
                width: 60%;
                // border-left: 2px solid $brand-light;
            }
        }
    }
    // HERO PAGE TITLE
    .hero-title {
        position: relative;
        top: 50vh;
        background: rgba(0, 0, 0, .8);
        border-radius: $border-radius-sm;
        padding: .25rem 0;
        @include sm {
            top: 55vh;
            background: rgba(0, 0, 0, .9);
        }
        @include lg {
            padding: .5rem;
            padding: 1rem 0;
            top: 25vh;
            width: max-content;
        }
        // SLOGAN
        .slogan {
            // border: 1px solid blue;
            color: $text-light;
            border-radius: 5px;
            text-align: left;
            position: relative;
            h1 {
                text-transform: capitalize;
                color: $text-light;
                font-weight: 600;
                font-size: clamp(1.025rem, 2.5vw, 2.25rem);
                text-transform: capitalize;
                line-height: 1.4;
                margin-bottom: .25rem;
                br {
                    display: none;
                }
                @include lg {
                    // margin-bottom: .5rem;
                    br {
                        display: block;
                    }
                }
            }
            p {
                // border: 2px solid red;
                font-size: 1rem;
                font-size: $font-clamp-sm;
                color: $text-light-trans;
                font-weight: 200;
                i {
                    width: 1.25rem;
                    font-size: .95rem;
                }
            }
            // CTA AND SLOGAN
            #cta {
                // border: 2px solid red;
                // QUALITY OR NOTHING P
                .slogan-p {
                    text-transform: capitalize;
                    font-weight: 400;
                    color: $text-second;
                    position: relative;
                    isolation: isolate;
                    font-size: 1.05rem;
                    font-size: $font-clamp-sm;
                    margin: .25rem 0 .5rem;
                    // border: 1px solid red;
                    letter-spacing: .0125rem;
                    // line-height: 1;
                    span {
                        color: $brand-light;
                        font-weight: 400;
                        font-family: inherit;
                    }
                    @include lg {
                        margin: .5rem 0 1rem;
                    }
                }
                // border: 2px solid blue;
                .cta-btn {
                    font-size: 1.015rem;
                    font-size: $font-clamp-sm;
                    width: 12rem;
                    width: clamp(11rem, 15vw, 15rem);
            }
            }
            // THANK YOU PAGE HERO
            &.thanks-message {
                p {
                    font-weight: 400;
                }
            }
        }
    }

    // HERO ACTIVE BACKGROUND CLASS
    &.active {
        background: $brand-overlay-dark;
        background: $brand;
    }
}
