.menu {
    // border: .25rem solid $brand;
    // min-height: 100vh;
    padding: 0vh 5vw;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    @include md {
            // height: 100vh;
            // height: 80vh;
            padding: 5vh 5vw;
            gap: 5vw;
            // border: 2px solid blue;
            flex-direction: row;
            justify-content: space-between;
        }
        .menu-item {
            // border: 2px solid yellow; 
            flex-basis: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;   
        // MENU TITLE
        .menu-title {
            // border: 3px solid blue;
            overflow: hidden;
            position: relative;
            isolation: isolate;
            margin-bottom: 5vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h2 {
                overflow: hidden;
                font-size: 1.85rem;
                // color: $brand;
                font-weight: 500;
                line-height: 1.25;
                text-transform: capitalize;
                @include md {
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
            i {
                display: none;
                // position: absolute;
                font-size: 1.5rem;
                color: #000;
                opacity: .6;
                // right: 0;
                // top: 50%;
                // transform: translateX(-50%);
                // z-index: -1;
            }
        }

        // MENU IMAGE
        .menu-image {
            // border: 2px solid red;
            height: 40vh;
            border-radius: .5rem;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            isolation: isolate;
            // OVERLAY 
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0;
                transition: .25s;
                // z-index: -1;

            }
            figcaption {
                position: absolute;
                // border: 2px solid yellow;
                display: grid;
                // place-items: center;
                place-content: center;
                gap: 1.5rem;
                padding: 1rem;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: #fff;
                text-align: left;
                opacity: 1;
                z-index: 1;

                p {
                    font-weight: 400;
                }
                .cta-flex {
                    // border: 2px solid blue;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    overflow: hidden;
                    i {
                        opacity: 1;
                        // transform: translateX(-5vw);
                        transition: .5s;
                    }
                    a {
                        // border: 1px solid red;
                        background: $brand;
                        margin-left: 1rem;
                        padding: .5rem;
                        border-radius: .5rem;
                        color: #fff;
                        display: block;
                        font-weight: 500;
                        // width: fit-content;
                        text-decoration: none;
                        opacity: 0;
                        transform: translateY(5rem);
                        transition: 1s;
                        position: relative;
                        isolation: isolate;
                        &::after, &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: .5rem;
                            z-index: -1;
                            transition: .25s;
                        }
                        &::before {
                            background: $brand-btn;
                        }
                        &::after {
                            opacity: 0;
                            background: $brand-btn-hover;
                        }

                        &:hover {
                            &::before {
                                opacity: 0;
                            }
                            &::after {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: .5rem;
                transition: .5s;
            }
        }
        &:hover {
            .menu-title {
                h2 {
                    color: $brand;
                    transition: .25s;
                }
                i {
                    opacity: 1;
                }
            }

            .menu-image {
                &::after {
                    opacity: 1;
                }
                figcaption {
                    .cta-flex {
                        i {
                            opacity: 1;
                            transform: translateX(0);
                        }
                        a {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
                img {
                    transform: scale(1.2);
                }
            }
        }

        // IO CLASS
        &.io-item {
            .menu-title {
                h2 {
                    opacity: 0;
                    transform: translateY(-5vh);
                    transition: 1s;
                }
                i {
                    transform: translateX(-5vw);
                    opacity: 0;
                    transition: 1s;
                }
            }
            .menu-image {
                &::after {opacity: 0;}
                figcaption {
                    p {
                        opacity: 0;
                        transition: 1s;
                    }
                    .cta-flex {
                        i {
                            opacity: 0;
                        }
                    }
                }
            }
        }
        // ACTIVE IO ITEM
        &.active-item {
            .menu-title {
                h2 {
                    opacity: 1;
                    transform: translateY(0);
                }
                i {
                    transform: translateX(0);
                    opacity: 1;
                    transition-delay: .25s;
                }
            }
            .menu-image {
                &::after {
                    opacity: .5;
                    transition: 2s;
                    transition-delay: .25s;
                }
                figcaption {
                    p {
                        opacity: 1;
                        transition-delay: .5s;
                    }
                    .cta-flex {
                        i {
                            opacity: 1;
                        }
                        a {
                            &:hover {
                                transform: scale(.98);
                                transition: .25s;
                            }
                        }
                    }
                }
            }
            &:hover {
                .menu-image {
                    &::after {
                        transition: .25s;
                        opacity: .7;
                    }
                }
            }
        }
    }
    
}