// BREAK POINTS
$screen-xsm-max: 390px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 820px;
$screen-xlg-min: 1024px;
// EXTRA SMALL DEVICES 
@mixin xsm {
    @media (max-width: #{$screen-xsm-max}) {
        @content;
    }
}
//SMALL DEVICES 
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

//MEDIUM DEVICES 
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

//LARGE DEVICES 
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

//EXTRA LARGE DEVICES 
@mixin xlg {
    @media (min-width: #{$screen-xlg-min}) {
        @content;
    }
}

//FLEXBOX
@mixin flex($justify, $align: center, $direction: row, $wrap: wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

//CSS GRID
@mixin grid($columns, $gap: 0px) {
    display: grid;
    grid-gap: $gap;
    grid-template-columns: repeat($columns, 1fr);
}


// BTN BG
.button-bg {
    position: relative;
    isolation: isolate;
    &::before, &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: .25s ease;
        border-radius: inherit;
        z-index: -1;
    }

    &::before {
        background: red;
    }
    &::after {
        background: blue;
        opacity: 0;
    }
    // HOVER AND ACTIVE CLASSES
    // DESKTOP HOVER CLASS 
    @media (min-width: 768px) {
        &:hover {
            transform: scale(.98);

            &::before {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }
        }
    }
    // MOBILE ACTIVE CLASS
    @media (max-width: 768px) {
        &:active {
            transform: scale(.98);

            &::before {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }
        }
    }
    // BACKGROUND COLORS AND GRADIENTS
    &.brand-bg {
        &::before {
            background: $brand-btn;
        }
        &::after {
            background: $brand-btn-hover;
        }
    }
}