#projects {
    padding: 5vh 1rem;

    .projects-article {
        margin: 10vh 0;

        h4 {
            text-align: center;
            margin-bottom: 1rem;
            text-transform: capitalize;
            font-size: 1.5rem;
            color: $brand;
            font-family: $font-header;

            &[data-scroll] {
                transform: scale(1);
                letter-spacing: .2em;
                opacity: 0;
            }
            &[data-scroll="in"] {
                letter-spacing: 0;
                transition: 2s;
                opacity: 1;
            }
        }

        .statement {
            border: 1px solid $brand;
            border-radius: 5px;
            p {
                padding: .5rem;
                line-height: 1.6;
                font-weight: 500;
                font-size: 1.1rem;

                &:nth-child(1) {
                    background-color: $brand-dark;
                    color: $text-second;
                }

            }
        }
    }
    .gallery {
        // border: 1px solid red;
        // min-height: 100vh;
        margin: 5vh auto;
        .gallery-title {
            text-transform: uppercase;
            color: $brand;
            font-size: 1.5rem;
            // font-weight: 600;
            padding: .5rem 0;
            font-family: $font-header;
            position: sticky;
            top: 7vh;
            background-color: #fffa;
            z-index: 5;
            @media (min-width: 768px) {
                top: 8vh;
            }
        }
        .gallery-grid {
            display: grid;
            gap: 1rem;
            margin: 0 0 5vh;
            padding: 5vh 0;
            // border: 1px solid red;
            // background: $brand;
            border-radius: 5px;
            height: auto;
            grid-template-columns: 1fr;
            overflow: hidden;

            .project-item {
                // DATA-SCROLL
                &[data-scroll] {
                    transform: scale(1);
                }
                padding-bottom: 5vh;
                height: auto;

                figcaption {
                    padding: .5rem;
                    font-size: 1.2rem;
                }

                figure {
                    width: 100%;
                    height: 60vh;
                    overflow: hidden;
                    border-radius: 5px;
                    position: relative;
                    cursor: pointer;
                    isolation: isolate;
                    z-index: 1;
                    margin-top: .5rem;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: .5s;
                        position: relative;
                        object-fit: cover;
                    }

                    &::after {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        box-shadow: inset 5px 5px 3px #fffa,
                            inset -5px -5px 3px #000a;
                        opacity: .4;
                        transition: .5s;
                    }


                    &:hover {
                        img {
                            transform: scale(1.15);
                        }

                        &::after {
                            opacity: .8;
                        }
                    }
                }
            }
    }
    }
    @media (min-width: 768px) {
        padding: 5vh 5vw;
        .gallery {
            .gallery-grid{
                grid-template-columns: 1fr 1fr;
                // height: 50%;
                overflow: hidden;
            }
            .project-item {
                figure {
                    width: 100%;
                    height: 80vh;
                    overflow: hidden;
    
                    img {
                        width: 100%;
                        height: 100%;
    
                    }
                }
            }
        }
    }

    
}

// #projects-page {
//     .main {
//         .gallery {
//             .project-item {
//                 &[data-scroll] {
//                     transform: scale(1);
//                 }
//             }
//         }
//     }
// }