.services {
    background: #fafafa;
    background: #f4f4f4;
    padding: 10vh 5vw;
    // border: 2px solid red;
    .section-description {
        // border: 1px solid red;
        line-height: 1.6;
        margin-bottom: 1rem;

        h3 {
            color: #000;
            margin-bottom: .5rem;
            font-size: 1.25rem;
            font-size: clamp(1.25rem, 2vw, 1.5rem);
            font-weight: 600;
            // &[data-scroll]{
            //     transform: scale(1);
            //     opacity: .7;
            //     letter-spacing: .2rem;
            // }
            // &[data-scroll="in"] {
            //     letter-spacing: .05rem;
            //     opacity: 1;
            // }
        }
        p {
            font-weight: 400;
            font-size: 1rem;
            font-size: clamp(1rem, 1vw, 1.05rem);
            @media (min-width: 768px) {
                font-size: 1.15rem;
                width: 50%;
            }

            &.block-line {
                padding-left: .5rem;
            }
            
        }
        &.promise {
            // border: 2px solid red;
            min-height: 100vh;
            // background: $brand;
            padding: 1rem .5rem 1rem;
            border-radius: 5px;
            isolation: isolate;
            position: relative;
            z-index: 1;
            margin: 0;
            &.page-promise {
            background: url(../img/logo.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            }
            @media (min-width: 768px) {
                // background: url(../img/logo.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-position: right;
            padding: 10vh .5rem 1rem;
            }

            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                // background: linear-gradient(30deg, $brand, $brand-light );
                background: linear-gradient(30deg, hsla(0, 0%, 0%, .780), $brand );
                background: linear-gradient(45deg, #000, $brand );
                opacity: .9;
                z-index: -2;
                // box-shadow: $box-shadow-sm;
            }

            h3 {
                color: $text-second;
                text-transform: capitalize;
                z-index: 4;
                font-size: 1.6rem;
                font-weight: 600;
                text-align: center;
                margin-bottom: 5vh;
                // text-decoration: underline #f4f4f4;
            }
            h4 {
                font-size: 1.25rem;
                font-weight: 500;
                letter-spacing: .05rem;
                margin-bottom: .5rem;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    left: 0;
                    width: 90%;
                    height: .15rem;
                    background: #f4f4f4;
                    background: linear-gradient(90deg,  #f4f4f4, $brand);
                    border-radius: 5px;
                    opacity: .5;
                    transition: 1.5s;
                }
            }
            
            p {
                transition: 2s;
                transition-delay: .5s;
            }
            ul {
                li {
                    color: #fff;
                    margin-bottom: 5vh;
                    list-style: none;

                    &[data-scroll] {
                        transform: scale(1);
                        opacity: 1;
                        h4 {
                            &::after {
                                width: 0;
                            }
                        }
                        p {
                            opacity: 0;
                        }
                    }
                    &[data-scroll="in"] {
                        h4 {
                            &::after {
                                width: 15%;
                                @media (min-width: 768px) {
                                    width: 5%;
                                }
                            }
                        }
                        p {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .service-container {
        // border: 1px solid $brand;
        margin: 0 auto 0;
        border-radius: 5px;
        
        .service-item {
            // border: 1px solid $brand;
            display: flex;
            flex-direction: column;
            padding: 1rem .5rem;
            margin: 10vh auto;
            border-radius: $border-radius-sm;
            width: 100%;
            position: relative;
            background: #fff;
            transition: .5s;
            isolation: isolate;
            
            &::before, &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: $border-radius-sm;
                z-index: -1;
                transition: 1s;
            }
            &::before {
                border: 1px solid #ddd;
                box-shadow: .0125rem .5rem .5rem rgba(0, 0,0, .05);
            }
            &::after {
                box-shadow: 
                            0rem .215rem .5rem rgba(0, 0,0, .2);
                opacity: 0;
            }
            @media (min-width: 768px) {
                // border-bottom: 1px solid $brand;
            }
            .service-core {
                flex-basis: 50%;
                display: flex;
                flex-direction: column-reverse;
                padding: 0 .5rem;
                h4 {
                    text-transform: capitalize;
                    font-size: 1.25rem;
                    font-size: clamp(1.25rem, 2vw, 1.4rem);
                    font-weight: 500;
                    transition: .5s ease;

                    @include md {
                        text-align: center;
                    }
                }
                i {
                    margin-top: -2rem;
                    margin: -2rem 0 1rem;
                    padding: 0;
                    font-size: 2.5rem;
                    transition: .3s;
                    filter: drop-shadow(.1rem .25rem .25rem rgba(0,0, 0, .2));
                    @include md {
                        margin: -2rem auto 1rem;
                        margin: 0 auto ;
                        transform: translateY(-2rem);
                    }
                }
                
            }
            .service-type {
                width: 100%;
                padding: 0 1rem;
                ul {
                    // background: $brand-overlay-dark;
                    color: $text-second;
                    padding: 1rem .5rem;
                    // border: 1px solid red;
                    // list-style: none;
                    font-weight: 500;
                    width: 100%;
                    margin: 1rem auto;
                    border-radius: 5px;
                    position: relative;
                    // PSEUDO UNDERLINE
                    // &::after {
                    //     position: absolute;
                    //     content: '';
                    //     bottom: 0;
                    //     left: 0;
                    //     width: 100%;
                    //     transform: scale(0);
                    //     height: 3px;
                    //     background: $brand-border;
                    //     border-radius: 5px;
                    // }
                    li {
                        margin: .5rem 0;
                        // padding: 0 0 .25rem 0;
                        text-transform: capitalize;
                        font-weight: 400;
                        color: #000;
                        transition: 1.5s;
                        // border-bottom: 1px solid #ddd;
                        &::marker {
                            color: #0005;
                            transition: 1s;
                        }
                        &:last-child {
                            display: none;
                        }
                    }
                }
            }
            
            // SCROLL 
            &.io-item {
                &::before {opacity: 0;}
                transform: scale(.98);
            }
            &.active-item {
                transform: scale(1);
                &::before {opacity: 1;}
                .service-core {
                    i {
                        // transform: translateY(.5rem);
                        @include md {
                        // transform: translateY(0);
                        }
                        filter: drop-shadow(.15rem .25rem .1rem rgba(0,0, 0, .250));
                        transition: 1s ease;
                    }
                    // h4 {
                    //     color: $brand;
                    //     transition: 1.5s;
                    // }
                }
            }
            // END OF SCROLL
            // ITEM HOVER EFFECT
            &:hover {
                transition: .5s;
                &::before { opacity: 0;}
                &::after { opacity: 1;}
                .service-core {
                    i {
                        transform: translateY(.5rem);
                        @include md {
                        transform: translateY(0);
                        }
                        filter: drop-shadow(0rem .25rem .1rem rgba(0,0, 0, .250));
                        transition: .5s ease;
                    }
                    h4 {
                        color: $brand;
                    }
                }
                
                .service-type {
                    ul {
                        li {
                            &::marker {
                                color: #000;
                            }
                        }
                    }   
                }
            } 
        }

        
    }
    .service-section-pad {
        // border: 3px solid blue;
        border-radius: 5px;
        height: 95vh;
        padding: 0;
        overflow: hidden;
        position: sticky;
        top: 10vh;

        .section-pad-img {
            width: 100%;
            height: 100%;

        // TURN DISPLAY OFF FOR RESPECTIVE SCREEN SIZE
        @media (min-width: 768px){
            // border: 2px solid red;
            background: url(../img/ben-allan-BIeC4YK2MTA-unsplash.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            &.mobile-img {
                display: none;
                background: yellow;
            }
        }
        @media (max-width: 768px){
            // border: 2px solid green;
            background: url(../img/orich-roof.jpg);
            background-size: cover;
            background-position: center;
            &.desktop-img {
                display: none;
                background: green;
            }
        }
    }
    }
    @media (min-width:768px) {
        padding: 0 5vw 5vh;
        .section-description {
            margin: 5vh auto 10vh;
        }
        .service-container {
            // border: 1px solid red;
            margin: 5vh 0 0;
    
            .service-item {
                // border: 1px solid blue;
                display: flex;
                flex-direction: row;
                // height: 50vh;
                height: auto;
                // overflow: hidden;
                position: relative;
                .service-core {
                    flex-basis: 50%;
                    // overflow: hidden;
                    height: 100%;
                    // width: 100%;
                    // border: 2px solid red;
                    // margin: 5vh 0;

                }
                .service-type {
                    width: 50%;
                    text-align: left;
                }
            }
        }
    }
}

#services-page {
    // background: pink;
    
    .main {
        margin-top: 0;
    }
    .section-description {
        p {
            margin-bottom: 1rem;
            font-size: 1.1rem;

            &[data-scroll] {
                transition: 1.5s;
                transform: scale(1);
            }
        }
    }

}
