#toggle {
    font-size: 20px;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    border: 2px solid $brand-light;
    outline: 2px solid $brand;
    outline-offset: -2px;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: .3s;
    padding: .2em 0;
    overflow: hidden;
    // transform: rotate(90deg);

    .bar {
        background-color: $toggle;
        width: 60%;
        height: .1em;
        position: relative;
        transition: .3s;

        &::before, &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: .2s;
            background-color: inherit;
        }
        &::before {
            transform: translateY(-.25em);
        }
        &::after {
            transform: translateY(.25em);
        }

    }

    &.active {
        outline: 2px solid $toggle;

        outline-offset: -.4em;
        .bar {
            opacity: 0;
        }
    }
}

.section-btn {
    display: block;
    width: auto;
    width: 50%;
    text-align: center;
    margin: 5vh auto;
    border-radius: 20px;
    background: $brand-btn;
    background: transparent;
    color: #f4f4f4;
    text-decoration: none;
    text-transform: capitalize;
    padding: 1rem 0;
    position: relative;
    transition: .2s;
    isolation: isolate;
    

    &::before, &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .5s ease;
        z-index: -1;
        border-radius: 20px;
        border: none;
        outline: none;
    }
    &::before {
        background: $brand-btn;
        box-shadow: $box-shadow-sm;
    }
    &::after{
        opacity: 0;
        background: $brand-btn-hover;
        box-shadow: $box-shadow-sm-hover;
    }
    &:hover {
        transform: scale(.98);
        &::before {opacity: 0;}
        &::after {opacity: 1;}
    }
    &:active {
        transform: scale(.95);
    }

    @media (min-width: 768px){
        padding: 1rem;
    }
}