.toggle {
    float: right;
    font-size: 20px;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    // border: 2px solid #000a;
    // outline: 2px solid #000a;
    outline-offset: -2px;
    border: none;
    outline: none;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: .3s;
    padding: .2em 0;
    overflow: hidden;
    z-index: 5;
    position: fixed;
    right: 5vw;
    right: 1rem;
    top: .5rem;
    // transform: rotate(90deg);

    .bar {
        background-color: $toggle;
        background-color: $brand;
        width: 60%;
        height: .1em;
        position: relative;
        transition: .2s;

        &::before, &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: .2s;
            background-color: inherit;
        }
        &::before {
            transform: translateY(-.25em);
        }
        &::after {
            transform: translateY(.25em);
        }

    }

    &.active {
        outline: 2px solid $toggle;

        outline-offset: -.4em;
        .bar {
            opacity: 0;
        }
    }
}

.section-btn {
    display: block;
    width: 18rem;
    text-align: center;
    margin: 5vh auto;
    border-radius: 1.5rem;
    background: $brand-btn;
    background: transparent;
    color: #f4f4f4;
    text-decoration: none;
    text-transform: capitalize;
    padding: .7rem 0;
    position: relative;
    letter-spacing: .05rem;
    transition: .2s;
    isolation: isolate;
    // font-family: $font-header;
    

    &::before, &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .5s ease;
        z-index: -1;
        border-radius: 1.5rem;
        border: none;
        outline: none;
    }
    &::before {
        background: $brand-btn;
        box-shadow: $box-shadow-sm;
    }
    &::after{
        opacity: 0;
        background: $brand-btn-hover;
        box-shadow: $box-shadow-sm-hover;
    }
        
    @media (min-width: 820px){
        padding: 1rem;
        &:hover {
            letter-spacing: normal;
            transform: scale(.98);
            &::before {opacity: 0;}
            &::after {opacity: 1;}
        }
    }
    @media (max-width: 820px){
        &:active {
            letter-spacing: normal;
            transform: scale(.98);
            &::before {opacity: 0;}
            &::after {opacity: 1;}
        }
    }
}

#top-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    background: #fffa;
    outline: none;
    border: 2px solid #000;
    border-radius: 5px;
    padding: .2rem;
    z-index: 5;
    transition: 1s;
    opacity: 1;
    cursor: pointer;
    transform: translateY(5rem);
        opacity: 0;
    // &.index-top-btn {
    //     transform: translateY(5rem);
    //     opacity: 0;
    // }
    
    a {
        border: 1px solid blue;
        border: none;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        text-decoration: none;
    }
    @media (min-width: 768px) {
        right: 2vw;
        bottom: 5vh;
        height: 2.5rem;
        width: 2.5rem;

        i {
            font-size: 1.5rem;
        }
    }

    i {
        color: $brand;
        margin: 0 auto;
        transition: .3s;
    }
    
    

    // ACTIVE HOME BUTTOM
    &.active {
        opacity: 1;
        transform: translateY(0);
        // DESKTOP HOVER STYLE
        @media (min-width: 820px){
            &:hover {
                transition: .15s;
                background: #eee;
                border-color: $brand;
    
                i {
                    color: #000;
                }
            }
        }
        // MOBILE HOVER STYLE
        @media (max-width: 820px){
            &:active {
                transition: .15s;
                background: #eee;
                border-color: $brand;
    
                i {
                    color: #000;
                }
            }
        }
    }
}