$font-ubuntu: 'Ubuntu', sans-serif;

$primary-color: #f4f4f4;
$secondary-color: #000;
$brand: #f8650c;

$bg-main: #f4f4f4;
$bg-second: #000;
$text-main: #000;
$text-second: #f4f4f4;
$text-main-hover: #fffa;
$text-second-hover: #000a;
$text-brand: #ffa500;

$header-bg: #000;
$toggle: orange;
$toggle-bar: #f4f4f4;

$nav-bg: #161616;
$nav-links: #eee;

$border-main: orange;
$border-second: #0000;