$font-ubuntu: 'Ubuntu', sans-serif;

$primary-color: #fff;
$secondary-color: #000;
$brand: #f8650c;
$brand-dark: #f8650c;
$brand-light: #ffa500;

$brand-overlay: linear-gradient(40deg, $brand-dark, $brand);
$bg-main: #fff;
$bg-second: #000;

$text-main: #000;
$text-second: #f4f4f4;
$text-main-hover: #fffa;
$text-second-hover: #000a;
$text-brand: #ffa500;

$header-bg: #000;
$toggle: orange;
$toggle-bar: #f4f4f4;

$nav-bg: #161616;
$nav-links: #eee;

$border-main: #983900;
$border-second: #0000;

$box-shadow-sm: inset 2px 2px 2px #fffa,
                inset -2px -2px 2px #000a;