$font-ubuntu: 'Ubuntu', sans-serif;
$font-header: 'Ubuntu', sans-serif;
// $font-content:;

$primary-color: #fff;
$secondary-color: #000;
$brand: #f8650c;
$brand-dark: #f8650c;
$brand-light: #ffa500;

$brand-overlay: linear-gradient(40deg, $brand-dark, $brand);
$brand-btn: linear-gradient(0deg, $brand-dark, $brand-light);
$brand-btn-hover: linear-gradient(0deg, $brand-light, $brand-dark);
$bg-main: #fff;
$bg-second: #000;

$text-main: #000;
$text-second: #f4f4f4;
$text-main-hover: #fffa;
$text-second-hover: #000a;
$text-brand: #ffa500;

$header-bg: #000;
$toggle: #fff;
$toggle-bar: #f4f4f4;

$nav-bg: #161616;
$nav-links: #eee;

$border-main: #983900;
$border-second: #0000;

$bg-invalid: hsl(39, 100%, 80%) ;

$box-shadow-sm: inset 2px 2px 2px #fffa,
                inset -2px -2px 2px #000a,
                3px 3px 3px rgba(0, 0, 0, 0.230);

$box-shadow-sm-hover: inset 2px 2px 2px #000a,
                    inset -2px -2px 2px #fffa,
                    1px 3px 2px rgba(0,0,0, .300);