@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Red+Hat+Display&family=Ubuntu&display=swap');

@import 'variables';
@import 'utilities';
@import 'header';
@import 'hero';
@import 'about';
@import 'services';
@import 'projects';
@import 'references';
@import 'form';
@import 'footer';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: $font-ubuntu;
    font-family: 'Red Hat Display', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 8vh;
    @media (max-width:768px) {
        scroll-padding-top: 7vh;
    }
}

.container {
        max-width: 100%;
        .section-title {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.5rem;
            padding: 5vh 0;
            // padding: 1rem 0;
            
            h2 {
                position: relative;
                font-family: $font-header;
                // TITLE UNDERLINE
            &::after {
                position: absolute;
                content: '';
                bottom: -.3rem;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: .2rem;
                background: $brand;
                background: linear-gradient(90deg, $brand-dark, $brand-light, $brand-dark);
                border-radius: 5px;
                transition: 2s;
                // @media (min-width: 768px) {
                //     width: 10vw;
                // }
            }
            &[data-scroll] {
                transform: scale(1);
                opacity: 1;
            }
            &[data-scroll="in"] {
                &::after {
                    width: 25%;
                    @media (min-width: 768px) {
                        width: 10vw;
                    }
                }
            }
            }
        }

    .main {
        @media (min-width: 768px) {
            margin-top: 10vh;
            padding: 5vh 0;
        }
        margin-top: 5vh;
        padding: 5vh 0;
        min-height: 100vh;
        position: relative;
        // background-color: $bg-main;

        &::after {
            position: fixed;
            content: '';
            top: 5vh;
            left: 0;
            width: 100%;
            min-height: 100vh;
            background-image: linear-gradient(40deg, $brand-light, #000);
            opacity: 0;
            z-index: -1;
            transition: .2s;
        }
        &.active {
            &::after {
                z-index: 1;

                opacity: .7;
            }
        }

        .parallax {
            // display: none;
            height: 95vh;
            height: auto;
            background-color: #ffffff;
            margin: 0 1rem;
            // position: sticky;
            // top: 5vh;
            // isolation: isolate;
            // z-index: -5;
            cursor: pointer;
            
            figure {
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                border-radius: 5px;
                isolation: isolate;
                img {
                    width: 100%;
                    height: auto;
                }
                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url(../img/orich-project.jpg);
                    background-size: contain;
                    background-size: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    z-index: 1;
                    transition: 1s;
                    animation: fadeImg 5s infinite;

                    @keyframes fadeImg {
                        50% {
                            opacity: 0;
                        }
                    }
                }

                &:hover {
                    &::after {
                        display: none;
                    }
                }
            }   
            

            @media (min-width: 768px) {
                height: 95vh;
                margin: 5vh 5vw;
                background-image: url(../img/orich-partners.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-attachment: fixed;
                background-size: contain;

            figure {
                display: none;
            }

            &::after {
                display: none;
            }
            }
        }

        section {
            min-height: 100vh;
            background: #fff;
        }
    }

    #top-btn {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        background: transparent;
        background: #fffa;
        outline: none;
        border: 2px solid $brand;
        border-radius: 5px;
        padding: .2rem;
        z-index: 5;
        transition: 1s;
        opacity: 0;
        cursor: pointer;
        transform: translateY(10vh);
        
        a {
            border: 1px solid blue;
            border: none;
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            text-decoration: none;
        }
        @media (min-width: 768px) {
            right: 2vw;
            bottom: 5vh;
            height: 2.5rem;
            width: 2.5rem;

            i {
                font-size: 1.5rem;
            }
        }

        i {
            color: #000;
            transition: .3s;
            margin: 0 auto;
            transition: .5s;
        }
        
        

        // ACTIVE HOME BUTTOM
        &.active {
            opacity: 1;
            transform: translateY(0);
            &:hover {
                transition: .3s;
                transform: scale(1.1);
            }
        }
    }
}

// SCROLL OUT
[data-scroll] {
    transition: 1s ease;
    transform: scale(.5);
}

[data-scroll="in"] {
    opacity: 1;
    transform: scale(1);
}

[data-scroll="out"] {
    opacity: 0;
}
// END OF SCROLL OUT