@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Red+Hat+Display&family=Ubuntu&display=swap');

@import 'variables';
@import 'utilities';
@import 'header';
@import 'banner';
@import 'hero';
@import 'about';
@import 'services';
@import 'projects';
@import 'references';
@import 'form';
@import 'footer';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: $font-ubuntu;
    font-family: $font-content;
    scroll-behavior: smooth;
    scroll-padding-top: 8vh;
    // border: 1px solid red;
    @media (max-width:768px) {
        scroll-padding-top: 7vh;
    }
}

.container {
        max-width: 100%;
        .section-title {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 500;
            padding: 5vh 0;
            // padding: 1rem 0;
            
            h2 {
                position: relative;
                font-family: $font-header;

                // TITLE UNDERLINE
                &::after {
                    position: absolute;
                    content: '';
                    bottom: -.3rem;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: .2rem;
                    background: $brand;
                    background: linear-gradient(90deg, $brand-dark, $brand-light, $brand-dark);
                    border-radius: 5px;
                    transition: 2s;
                }

                &[data-scroll] {
                    transform: scale(1);
                    opacity: 0;
                    letter-spacing: .2rem;
                }

                &[data-scroll="in"] {
                    letter-spacing: normal;
                    opacity: 1;
                    transition: 1.5s;
                    &::after {
                        width: 25%;

                        @media (min-width: 768px) {
                            width: 10vw;
                        }
                    }
                }
            }
        }

        
    main {
        @media (min-width: 768px) {
            // margin-top: 10vh;
            padding: 5vh 0;
            padding: 0;
        }
        padding: 0vh 0 5vh;
        min-height: 100vh;
        position: relative;
        // background-color: $bg-main;
        // MAIN SECTION ON PAGES
        &.page-main {
            margin-top: 10vh;
        }
        &::after {
            position: fixed;
            content: '';
            top: 5vh;
            left: 0;
            width: 100%;
            min-height: 100vh;
            background-image: linear-gradient(40deg, $brand-light, #000);
            opacity: 0;
            z-index: -1;
            transition: .2s;
        }
        &.active {
            &::after {
                z-index: 1;

                opacity: .7;
            }
        }
        
        section {
            min-height: 100vh;
            background: #fff;
        }
        .section-pad {
            // border: 2px solid red;
            height: 95vh;
            background-image: url(../img/orich.jpg);
            background-repeat: no-repeat;
            // MOBILE PAD
            @media (max-width: 768px) {
                // hide desktop pad
                .desktop-pad {
                    display: none;
                }
                background-size: 100%;
                background-size: 70%;
                background-position: center;
            }
            // DESKTOP PAD 
            @media (min-width: 768px) {
                // hide mobile pad
                .mobile-pad {
                    display: none;
                }
                    background-size: 20%;
                    background-position: center 20%;
                    background-position: center;
                    background-attachment: fixed;
                    background-color: #fff;
            }
        }
    }

    #top-btn, .home-btn {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        background: transparent;
        background: #fffa;
        outline: none;
        border: 2px solid #000;
        border-radius: 5px;
        padding: .2rem;
        z-index: 5;
        transition: 1s;
        opacity: 1;
        cursor: pointer;
        &.index-top-btn {
            transform: translateY(5rem);
            opacity: 0;
        }
        
        a {
            border: 1px solid blue;
            border: none;
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            text-decoration: none;
        }
        @media (min-width: 768px) {
            right: 2vw;
            bottom: 5vh;
            height: 2.5rem;
            width: 2.5rem;

            i {
                font-size: 1.5rem;
            }
        }

        i {
            color: $brand;
            margin: 0 auto;
            transition: .3s;
        }
        
        

        // ACTIVE HOME BUTTOM
        &.active {
            opacity: 1;
            transform: translateY(0);
            &:hover {
                transition: .3s;
                background: #fff;
                border-color: $brand;

                i {
                    color: $brand;
                }
            }
        }
    }
}

// SCROLL OUT
[data-scroll] {
    transition: 1.5s ease;
    transform: scale(.5);
    transform: scale(1) translateY(10vh);
}

[data-scroll="in"] {
    opacity: 1;
    transform: scale(1) translateY(0);
}

[data-scroll="out"] {
    opacity: 0;
}
// END OF SCROLL OUT