@use '../abstracts';

.footer {
    // border: 2px solid abstracts.$brand;
    padding: 5vh 5vw 11vh;
    background: linear-gradient(0deg, #fafafa, #ffff);
    display: flex;
    flex-direction: column;
    gap: 5vh;
    @include abstracts.xlg {
        padding: 30vh 5vw 10vh;
        background: linear-gradient(90deg, #ffff, #fafafa);
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }
    a {
        text-decoration: none;
        color: abstracts.$text-main;
        transition: .25s;
        &:hover, &:focus {
            color: abstracts.$brand;
        }
    }
    

    .footer-logo {
        // border: 1px solid blue;
        img {
            width: 10rem;
            width: clamp(10rem, 15vw, 12rem);
            height: 100%;
        }
    }

    .footer-copyright {
        text-transform: capitalize;
        line-height: 1.6;

        a {
            // color: abstracts.$brand;
            font-weight: 500;
        }
    }

    .footer-item {
        .footer-item-title {
            text-transform: capitalize;
            margin-bottom: .25rem;
        }

        .footer-list {
            list-style: none;
            // PAGE LINKS LI
            &.page-links {
                text-transform: capitalize;
            }
            
            li {
                margin-bottom: .15rem;
                i {
                    width: 1rem;
                    margin-right: .5rem;
                    transition: .25s;
                }
                a {
                    transition: .25s;
                }
                &:hover {
                    i {
                        transform: translateX(.25rem);
                        color: abstracts.$brand;
                    }
                }

                
            }
            
            // FLEX LINK WITH IMG ICON
            li:has(.icon) {
                display: flex;
                align-items: center;
                gap: .5rem;

                &:hover {
                    a {
                        color: abstracts.$brand;
                    }
                    .icon {
                        transform: translateX(.25rem);
                    }
                }
            }
        }
    }

    .page-links {
        // border: 2px solid red;

        li {
            
            i {
                margin-right: .5rem;
            }
        }
    }
    
}