@use '../abstracts';

// HERO 
// HERO-IMAGE = BACKGROUND IMAGE
#hero {
    // min-height: 100vh;
    height: 90vh;
    // padding: 5vh 5vw;
    background: #000;
    transition: .25s;
    position: relative;
    isolation: isolate;

    display: grid;
    grid-template-rows: 60% 1fr;
    
    .hero-image {
        background: #0009;
        // border: 2px solid red;
        // position: absolute;
        z-index: -1;
        // inset: 0;

        img {
            object-fit: cover;
            // object-position: 55% 50%;
            object-position: top;
            height: 100%;
            width: 100%;
            mix-blend-mode: darken;

            @include abstracts.lg {
                object-position: 90% 0%;
                position: absolute;
                top: 0;
                right: 0;
                width: 60%;
            }
        }
    }
    // HERO PAGE TITLE
    .hero-title {
        // border: 2px solid blue;
        position: relative;
        // padding: .25rem 0;
        padding-inline: 5vw;
        // top: 50vh;
        background: rgba(0, 0, 0, .8);
        border-radius: abstracts.$border-radius-sm;
        @include abstracts.sm {
            top: 55vh;
        }
        @include abstracts.lg {
            padding: 1rem 0;
            top: 25vh;
            width: max-content;
        }
        // SLOGAN
        .slogan {
            color: abstracts.$text-light;
            border-radius: 5px;
            position: relative;
            text-transform: capitalize;
            h1 {
                font-weight: 600;
                font-size: 3vw;
                font-size: clamp(1.025rem, 3vw, 2.25rem);
                line-height: 1.4;
                margin-bottom: .25rem;
                br {
                    display: none;
                }
                @include abstracts.lg {
                    br {
                        display: block;
                    }
                }
            }
            .hero-meta {
                color: abstracts.$text-light-trans;
                font-weight: 200;
                i {
                    width: 1.25rem;
                    font-size: .95rem;
                }
            }
            // CTA AND SLOGAN
            #cta {
                // QUALITY OR NOTHING P
                .slogan-p {
                    color: abstracts.$text-light;
                    margin: .25rem 0 .5rem;
                    letter-spacing: .0125rem;
                    span {
                        color: abstracts.$brand-light;
                    }
                    @include abstracts.lg {
                        margin: .5rem 0 1rem;
                    }
                }
                .cta-btn {
                    font-size: 1.015rem;
                    font-size: abstracts.$font-clamp-sm;
                    width: 12rem;
                    width: clamp(11rem, 15vw, 15rem);
            }
            }
            // THANK YOU PAGE HERO
            &.thanks-message {
                p {
                    font-weight: 400;
                }
            }
        }
    }

    // HERO ACTIVE BACKGROUND CLASS
    &.active {
        background: abstracts.$brand;
    }
}
