@use '../abstracts';

// CORE SERVICES DISPLAY SECTION 
// TITLE("CORE SERVICES") + GRID(3 ITEMS);

// .MENU = LIGHT-GREY SECTION WITH WHITE GRID CARDS 
.menu {
    padding: 10vh 5vw 5vh;
    background: #f4f4f4;

    @include abstracts.lg {
        padding: 10vh 5vw;
    }

    // MENU GRID. 1 COLUMN ON SMALLER SCREENS - 3 COLUMNS ON WIDER SCREENS
    // MENU GRID CLASS = MIXIN 'GRID(COLUMNS & GAP)'
    .menu-grid {
        margin: 5vh 0;
        @include abstracts.grid (1, 10vh);

        @include abstracts.lg {
            grid-template-columns: auto auto auto;
            column-gap: 1rem;
        }

    }
}

// MENU(GRID) ITEM
// 2 SECTION ITEM: TITLE[H3 + P] + IMAGE 
// .MENU-ITEM = GRID CARD 
.menu-item {
    background: #fff;
    border-radius: .25rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .125);
    margin-inline: auto;
    width: 100%;

    // MENU TITLE
    // CONTENT SECTION OF THE CARD = H3 + P

    .menu-item-title {
        position: relative;
        padding: 1rem;
        
        h3 {
            margin-bottom: .5rem;
        }

        // ADJUST HEIGHT AT WIDER SCREENS TO ALIGN IMAGES.. 
        // ..AND TEXT AREA IN 3 COLUMN GRID
        p {
            max-width: 450px;

            @include abstracts.lg {
                height: 9rem;
            }

            @include abstracts.xlg {
                height: 6rem;
            }
        }

    }

    // MENU IMAGE
    // ON HOVER = PSEUDO BACKGROUND WITH AN EMAIL .CTA TRANSITIONING INTO VIEW
    .menu-image {
        // border: 2px solid red;
        height: 40vh;
        border-bottom-left-radius: abstracts.$border-radius-xsm;
        border-bottom-right-radius: abstracts.$border-radius-xsm;
        overflow: hidden;
        position: relative;
        isolation: isolate;

        @include abstracts.sm {
            height: 55vh;
        }

        @include abstracts.md {
            height: 40vh;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: .5s;
        }

        a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 12rem;
            padding: .5rem 1rem;
            margin: .5rem 0;
            text-decoration: none;
            text-transform: capitalize;
            color: #000;
            border-radius: abstracts.$border-radius-sm;
            background: abstracts.$brand-btn;
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            transform: translateY(5rem);
            transition: .5s ease;
            z-index: 1;

            i {
                margin-left: .5rem;
            }
        }

        // BG OVERLAY
        // OVERLAY COVER. OPACITY = 0. ON IMG HOVER: = 1
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #0005;
            opacity: 0;
            transition: .25s;
            z-index: 1;
        }

        // GRADIENT BORDER
        // BRAND BORDER ABOVE IMG 
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: .125rem;
            background: abstracts.$brand-border;
            transition: 1s;
            z-index: 3;
        }

        // INTERSECTION OBSERVER CLASS
        // SCALE IMG WHEN INTERSECTING
        &.io-item {
            img {
                transform: scale(1.1);
            }
        }
        // ACTIVE CLASS IO
        &.active-item {
            img {
                transform: scale(1);
                transition: 2s;
            }
        }

        // WHEN IMAGE HOVERED = CTA TRANSITION IN AND OVERLAY OPACITY = 1
        &:hover,
        &:focus {
            a {
                transform: translateY(0);
            }

            &::before {
                opacity: 1;
                transition: .5s;
            }
        }
    }
}



// CALL TO ACTION MENU 
// TITLE + 3 ITEM GRID 
.menu-cta {
    // border: 2px solid blue;
    padding: 10vh 5vw;
    position: relative;
    // CTA SECTION TITLE
    // ANIMATED BOTTOM BORDER GRADIENT UNDERLINE TRANSITION IN VIA IO
    h3 {
        text-transform: capitalize;
        margin-bottom: 5vh;
        font-size: 2.5rem;
        font-style: abstracts.$font-clamp-xlg;
        position: relative;
        width: max-content;
        color: abstracts.$text-light;

        @include abstracts.lg {
            margin-bottom: 15vh;
        }

        // GRADIENT BOTTOM BORDER
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: .25rem;
            background: abstracts.$brand-border;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            transition: 1.25s;
        }

        // LETTER O = ORANGE SPAN WHICH TRANSITIONS INTO WHITE WHEN IO = ACTIVE
        span {
            color: abstracts.$brand;
            transition: 1.25s;
        }

        // IO CLASS FOR SPAN AND TITLE BORDER BOTTOM GRADIENT
        &.io-item {
            &::after {
                transform: scaleX(0);
            }
        }

        &.active-item {
            span {
                color: abstracts.$text-light;
                transition: 1.5s;
            }

            &::after {
                transform: scaleX(1);
            }
        }
    }
    // WIDE SCREEN MEDIA QUERY WITH FIXED BACKGROUND
    @include abstracts.lg {
        height: 100vh;
        background-image: url('../img/menu_1200.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 20vh 5vw;

    }
    // MOBILE SCREEN BACKGROUND IMAGE
    // DISPLAY NONE ON WIDE SCREENS TO ALLOW FIXED ATTACHMENT BACKGROUND IMAGE
    .menu-cta-figure {
        background: hsla(0, 0%, 0%, 0.85);
        position: absolute;
        inset: 0;

        @include abstracts.lg {
            background: hsla(0, 0%, 0%, 0.65);
        }

        // MOBILE SCREENS ONLY IMAGE
        img {
            width: 100%;
            height: 100%;
            z-index: 1;
            mix-blend-mode: overlay;
            object-fit: cover;

            @include abstracts.lg {
                display: none;
            }
        }
    }

    // CONTACT ITEMS GRID CONTAINER
    // 1 COLUMN GRID EXPANDS TO 3 COLUMNS ON WIDER SCREENS
    // GRID MIXIN GRID(COLUMNS,GAP);
    .grid-container {
        @include abstracts.grid(1, 1rem);
        
        // 3 COLUMN GRID MEDIA QUERY
        @include abstracts.lg {
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 10vh;
        }
    }

    // CTA MENU ITEMS 
    // GRID ITEMS
    .cta-item {
        position: relative;
        isolation: isolate;
        border-radius: .25rem;
        padding: .5rem;
        color: #fff;

        @include abstracts.lg {
            padding: 1rem;
        }

        // ITEM TITLE = H4
        h4 {
            text-transform: capitalize;
            margin-bottom: .5rem;
            font-size: 1.25rem;
            font-size: abstracts.$font-clamp-md;
            transition: .25s;
            font-weight: 600;
        }
        // CONTACT ITEM LIST = UL
        ul {
            list-style: none;

            // LIST ITEM = FLEX ITEM 
            // FLEX ITEMS = LINK + ICON
            li {
                margin-bottom: .25rem;
                width: 80%;
                padding-right: 1rem;
                display: flex;
                align-items: center;
                gap: .5rem;

                @include abstracts.sm {
                    flex-direction: row;
                }

                i {
                    color: abstracts.$brand-light;
                    transition: .25s;
                }

                a {
                    transition: .25s;
                }

                // LINK HOVER STATE = TRANSLATE ICON AND CHANGE LINK COLOR
                &:hover {
                    i {
                        transform: translateX(.25rem);
                        color: #fafafa;
                    }

                    a {
                        color: abstracts.$brand-light;
                    }
                }
            }
        }

        // ITEM BG
        // PSEUDO DARK BG FOR GRID ITEMS FOR HOVER STATE
        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: #000;
            z-index: -1;
            border-radius: inherit;
            opacity: .1;
            transition: .25s;

            @include abstracts.lg {
                opacity: .2;
            }
        }

        // ITEM BOX HOVER STATE
        // = CHANGE TITLE COLOR AND MAKE BG VISIBLE
        &:hover {
            h4 {
                color: abstracts.$brand;
            }

            &::after {
                opacity: .8;
            }
        }
    }

}