@use '../abstracts';

#form {
    @media (min-width: 768px) {
        // padding: 10vh 10vw;
        width: 50%;
        margin: 0 auto;
    }
    min-height: 100vh;
    padding: 10vh 5vw;

    .form-container-title {
        margin-bottom: 5vh;
        padding: 0;
        h2 {
            font-size: abstracts.$font-clamp-xlg;
        }
    }
    
    
    label {
        text-transform: capitalize;
    }

    input, textarea {
        display: block;
        padding: .65rem .5rem;
        margin: 1rem 0 2rem;
        width: 100%;
        border: 1px solid transparent;
        outline: 1px solid #000;
        background-color: #333;
        color: #f4f4f4;
        border-radius: abstracts.$border-radius-xsm;
        resize: none;
        transition: .5s;
        // DESKTOP PADDING
        @include abstracts.md {
            padding: 1rem;
        }

        &:valid {
            outline-color: abstracts.$brand-light;
            // border-color: abstracts.$brand;
        }

        &::placeholder {
            opacity: 0;
            color: #ddd;
            transform: translateX(.5rem);
            transition: .5s;
        }
        
        // INPUT HOVER EFFECT
        &:hover, &:focus {
            border-bottom-color: abstracts.$brand-light;

            &::placeholder {
                opacity: 1;
                transform: translateX(0rem);
            }
        }
    }
    

    // SUBMIT BUTTON
    button {
        padding: .65rem 1rem;
        margin-top: 1rem 1rem;
        width: 12rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        background: abstracts.$brand;
        color: #000;
        font-size: abstracts.$font-clamp-sm;
        font-family: inherit;
        font-weight: 500;
        text-transform: capitalize;

        border: none;
        border-radius: abstracts.$border-radius-sm;
        position: relative;
        isolation: isolate;
        transition: .25s;
        @include abstracts.lg {
            cursor: pointer;
            width: 12rem;
            padding: .65rem;
        }
        // BUTTON BOX SHADOW
        &::before, &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            border-radius: abstracts.$border-radius-sm;
            transition: .25s;
            z-index: -1;
        }
        &::before {
            background: abstracts.$brand-btn;
            box-shadow: abstracts.$box-shadow-sm;
        }
        &::after {
            background: abstracts.$brand-btn-hover;
            opacity: 0;
            box-shadow: abstracts.$box-shadow-sm-hover;
        }
        // DESKTOP HOVER & FOCUS
        @media (min-width: 768px){
            &:hover, &:focus {
                transition: .25s;
                letter-spacing: 0;
                transform: scale(.98);
                &::before {opacity: 0;}
                &::after {opacity: 1;}

                i {
                    transform: rotate(20deg) translateX(.25rem);
                    transition: .5s;
                }
            }
        }
        // MOBILE ACTIVE & FOCUS
        @media (max-width: 768px){
            transition: .25s;
            &:active, &:focus {
                letter-spacing: 0;
                transform: scale(.98);
                &::before {opacity: 0;}
                &::after {opacity: 1;}
                i {
                    transform: rotate(20deg) translateX(.25rem);
                    transition: .5s;
                }
            }
        }
    }
    
}